<div class="lol-ranking component">
  <div class="rank-container">
    <div class="rank-title">Solo Ranked</div>
    <hr>
    <div class="dual-column-rank-content">
      <div class="rank-content">
        <div class="rank-image-container">
          <div *ngIf="soloRank; else elseBlockRankImage">
            <img class="rank-image" src="assets/data/tft/tft-ranks/TFT_Regalia_{{ soloRank.tier }}.png" alt="Solo Rank">
          </div>

          <ng-template #elseBlockRankImage>
            <img class="rank-image unranked-image"
                 src="assets/data/tft/tft-ranks/TFT_Regalia_Provisional.png" alt="Solo Unranked">
          </ng-template>
        </div>
      </div>

      <div class="rank-content rank-information">
        <div *ngIf="soloRank; else elseBlockRankInformations">
          <div>{{ soloRank.tier }} {{ soloRank.rank }}</div>
          <div>{{ soloRank.leaguePoints }} LP</div>
          <div>{{ soloRank.wins}}W / {{ soloRank.losses}}L</div>
        </div>

        <ng-template #elseBlockRankInformations>
          <div>Unranked</div>
        </ng-template>
      </div>
    </div>
  </div>

  <hr>

  <div class="rank-container">
    <div class="rank-title">Flex Ranked</div>
    <hr>
    <div class="dual-column-rank-content">
      <div class="rank-content">
        <div class="rank-image-container">
          <div *ngIf="flexRank; else elseBlockRankImage">
            <img class="rank-image" src="assets/data/tft/tft-ranks/TFT_Regalia_{{ flexRank.tier }}.png" alt="Flex Rank">
          </div>

          <ng-template #elseBlockRankImage>
            <img class="rank-image unranked-image"
                 src="assets/data/tft/tft-ranks/TFT_Regalia_Provisional.png" alt="Flex Unranked">
          </ng-template>
        </div>
      </div>

      <div class="rank-content rank-information">
        <div *ngIf="flexRank; else elseBlockRankInformations">
          <div>{{ flexRank.tier }} {{ flexRank.rank }}</div>
          <div>{{ flexRank.leaguePoints }} LP</div>
          <div>{{ flexRank.wins}}W / {{ flexRank.losses}}L</div>
        </div>

        <ng-template #elseBlockRankInformations>
          <div>Unranked</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
