<div class="badge">
  <div class="badge-recap">

  </div>
  <div class="">
    <div class="characters">
      <div class="character selectable" *ngFor="let character of Object.values(DestinyClassEnum)" (click)="selectCharacterClass(character)">
        <img class="character-image" src="assets/data/destiny/classes/{{ character['image'] }}">
      </div>
    </div>
    <div class="collectibles">
      <destiny-item *ngFor="let collectible of focusedCollectibles" [item]="getItem(collectible.itemHash)"></destiny-item>
    </div>
  </div>
</div>
