.badges {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  img {
    width: 100%;
  }
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.characters {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
