<div class="lol-match-participant"
     [ngStyle]="{'background-color':
                 hasWin ? (participant.summoner.puuid === summoner.puuid ? '#002349' : '#004281') :
                 (participant.summoner.puuid === summoner.puuid ? '#3f0000' : '#770000')}">
  <div class="participant-main-information">
    <div class="champion">
      <img src="{{ getImageUrl(participant.champion.image, 'champion') }}" alt="Champion">
      <div style="align-self: flex-start;">
        <h4 class="champion-level">{{ participant.champLevel }}</h4>
      </div>

    </div>
    <div class="rune-and-summoner-spells">
      <img src="{{ getImageUrl(participant.summonerSpell1.image, 'spell') }}" *ngIf="participant.summonerSpell1.image else noItemImage" alt="Summoner Spell">
      <img src="{{ getImageUrl(participant.summonerSpell2.image, 'spell') }}" *ngIf="participant.summonerSpell2.image else noItemImage" alt="Summoner Spell">
    </div>
    <div class="rune-and-summoner-spells">
      <img src="{{ getRuneImageUrl(participant.runes.primaryRuneFirstPerk.image) }}" *ngIf="participant.runes.primaryRuneFirstPerk.image else noItemImage" alt="Rune">
      <img src="{{ getRuneImageUrl(participant.runes.secondaryRuneCategory.image) }}" *ngIf="participant.runes.secondaryRuneCategory; else noItemImage" alt="Rune">
    </div>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <ng-container *ngIf="participant.summoner.puuid === summoner.puuid; else elseBlock">
      <div style="font-weight: bold; color: white">{{ participant.summoner.name }}</div>
    </ng-container>
    <ng-template #elseBlock>
      <a [routerLink]="['/lol', summoner.region, participant.summoner.tag, participant.summoner.name, '/all-queues', '/all-roles']">
        {{ participant.summoner.name }}
      </a>
    </ng-template>
  </div>
  <div>
    <div class="scores">{{ participant.kills }} / {{ participant.deaths }} / {{ participant.assists }}</div>
    <div class="minors-stats">{{ getKDA() }} KDA</div>
  </div>
  <div class="damage">
    <div>{{ getDamage() }}</div>
    <div class="damage-bar">
      <div class="participant-damage" [style.width.%]="(damage/topDamage*100 < 0.1 && damage/topDamage*100 != 0) ? 10 : damage/topDamage*100"></div>
    </div>
  </div>
  <div class="scores">{{ getGolds() }}</div>
  <div class="scores">{{ participant.minions }}</div>
  <div class="scores">{{ participant.visionScore }}</div>
  <div class="items">
    <img src="{{ getImageUrl(participant?.item0?.image!, 'item') }}" *ngIf="participant.item0?.image; else noItemImage" alt="Item">
    <img src="{{ getImageUrl(participant?.item1?.image!, 'item') }}" *ngIf="participant.item1?.image; else noItemImage" alt="Item">
    <img src="{{ getImageUrl(participant?.item2?.image!, 'item') }}" *ngIf="participant.item2?.image; else noItemImage" alt="Item">
    <img src="{{ getImageUrl(participant?.item3?.image!, 'item') }}" *ngIf="participant.item3?.image; else noItemImage" alt="Item">
    <img src="{{ getImageUrl(participant?.item4?.image!, 'item') }}" *ngIf="participant.item4?.image; else noItemImage" alt="Item">
    <img src="{{ getImageUrl(participant?.item5?.image!, 'item') }}" *ngIf="participant.item5?.image; else noItemImage" alt="Item">
    <img src="{{ getImageUrl(participant?.ward?.image!, 'item') }}" *ngIf="participant.ward?.image; else noItemImage" alt="Item">
  </div>
</div>
<ng-template #noItemImage>
  <img src="assets/data/lol/lol-items/empty.png" style="opacity: 0.3;">
</ng-template>
