<div class="lol-match-participant"
     [ngStyle]="{'background-color':
     remake ? (participant.summoner.puuid === summoner.puuid ? '#3a3a3a' : '#4f4f4f') :
                 hasWin ? (participant.summoner.puuid === summoner.puuid ? '#002349' : '#004281') :
                 (participant.summoner.puuid === summoner.puuid ? '#3f0000' : '#770000')}">
  <div class="participant-main-information">
    <div class="champion">
      <div class="champion-box">
        <img src="{{ imageService.getChampionImageUrl(participant.champion, matchVersion) }}" alt="Champion">
      </div>
      <div style="align-self: flex-start;">
        <h4 class="champion-level">{{ participant.champLevel }}</h4>
      </div>

    </div>
    <div class="rune-and-summoner-spells">
      <img src="{{ imageService.getSpellImageUrl(participant.summonerSpell1, matchVersion) }}" alt="Summoner Spell">
      <img src="{{ imageService.getSpellImageUrl(participant.summonerSpell2, matchVersion) }}" alt="Summoner Spell">
    </div>
    <div class="rune-and-summoner-spells">
      <img src="{{ imageService.getRuneImageUrl(participant.runes.primaryRuneFirstPerk) }}" alt="Rune">
      <img src="{{ imageService.getRuneImageUrl(participant.runes.secondaryRuneCategory) }}" alt="Rune">
    </div>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <ng-container *ngIf="participant.summoner.puuid === summoner.puuid; else elseBlock">
      <div style="font-weight: bold; color: white">{{ participant.summoner.name }}</div>
    </ng-container>
    <ng-template #elseBlock>
      <a [routerLink]="['/lol', summoner.region, participant.summoner.tag, participant.summoner.name, 'all-queues', 'all-roles']">
        {{ participant.summoner.name }}
      </a>
    </ng-template>
  </div>
  <div>
    <div class="scores">{{ participant.kills }} / {{ participant.deaths }} / {{ participant.assists }}</div>
    <div class="minors-stats">{{ getKDA() }} KDA</div>
  </div>
  <div class="damage">
    <div>{{ getDamage() }}</div>
    <div class="damage-bar">
      <div class="participant-damage" [style.width.%]="(damage/topDamage*100 < 0.1 && damage/topDamage*100 != 0) ? 10 : damage/topDamage*100"></div>
    </div>
  </div>
  <div class="scores">{{ getGolds() }}</div>
  <div class="scores">{{ participant.minions + participant.neutralMinions }}</div>
  <div class="scores">{{ participant.visionScore }}</div>
  <div class="items">
    <img src="{{ imageService.getItemImageUrl(participant?.item0, matchVersion) }}" alt="Item">
    <img src="{{ imageService.getItemImageUrl(participant?.item1, matchVersion) }}" alt="Item">
    <img src="{{ imageService.getItemImageUrl(participant?.item2, matchVersion) }}" alt="Item">
    <img src="{{ imageService.getItemImageUrl(participant?.item3, matchVersion) }}" alt="Item">
    <img src="{{ imageService.getItemImageUrl(participant?.item4, matchVersion) }}" alt="Item">
    <img src="{{ imageService.getItemImageUrl(participant?.item5, matchVersion) }}" alt="Item">
    <img src="{{ imageService.getItemImageUrl(participant?.ward, matchVersion) }}" alt="Item">
  </div>
</div>
