<div class="component-list">
  <div class="component subcomponent-list">
    <div class="big-component-title">Titles</div>
    <div class="active-titles">
      <destiny-title-preview
        class="selectable"
        (click)="redirectToTitlePage(title)"
        *ngFor="let title of titlesPresentationTree.childrenNode"
        [title]="title"
        [presentationNodeProgress]="presentationNodeProgress">
      </destiny-title-preview>
    </div>
  </div>
  <div class="component subcomponent-list">
    <div class="big-component-title">Archived Titles</div>
      <div class="archived-titles">
        <div *ngFor="let title of archivedTitlesPresentationTree.childrenNode" title="{{ title.name }}" class="title subcomponent">
          <img src="{{ DestinyComponent.ASSET_URL + title.icon }}" alt="{{ title.name }} title icon" [style.filter]="!isTitleComplete(title) ? 'grayscale(1)' : 'none'">
        </div>
      </div>
  </div>
</div>
