<div class="component-list">
  <div class="component subcomponent-list">
    <div class="big-component-title">Titles</div>
    <div class="active-titles">
      <div *ngFor="let title of titlesPresentationTree.childrenNode" title="{{ title.description }}" class="title subcomponent selectable"
           (click)="redirectToTitlePage(title)">
        <img src="{{ DestinyComponent.ASSET_URL + title.icon }}" alt="{{ title.name }} title icon" [style.filter]="!isTitleComplete(title) ? 'grayscale(1)' : 'none'">
        <div class="subcomponent-title">{{ title.name }}</div>
        <div class="progression">
          <div class="progression-bar">
            <span>{{ currentTitleNodeProgress?.progressValue! }} / {{ currentTitleNodeProgress?.completionValue! }}</span>
            <div class="current-progression" [style.width.%]="currentTitleNodeProgress?.progressValue! / currentTitleNodeProgress?.completionValue! * 100" [style.background-color]="currentTitleNodeProgress?.progressValue! >= currentTitleNodeProgress?.completionValue! ? '#93884c': '#757575'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="component subcomponent-list">
    <div class="big-component-title">Archived Titles</div>
      <div class="archived-titles">
        <div *ngFor="let title of archivedTitlesPresentationTree.childrenNode" title="{{ title.name }}" class="title subcomponent">
          <img src="{{ DestinyComponent.ASSET_URL + title.icon }}" alt="{{ title.name }} title icon" [style.filter]="!isTitleComplete(title) ? 'grayscale(1)' : 'none'">
        </div>
      </div>
  </div>
</div>
