<div class="lol-match">
  <div class="less-data background-color-{{ getResult().toLowerCase() }}">
    <div class="game-summary">
      <div>
        <div class="main-summary">{{ getResult() }}</div>
      </div>
      <div class="complementary-summary">{{ timeService.getTimeFrom(match.datetime) }}</div>
      <hr>
      <div class="complementary-summary">{{ timeService.formatTimeMinSec(match.duration) }}</div>
      <img src="assets/data/tft/tft-queues/1100.png">
    </div>

    <div class="game-participant">
      <div class="game-participant-main">
        <div class="game-participant-main-champion">
          <div class="champion-box">
            <img src="{{ imageService.getChampionImageUrl(summonerParticipant.champion, match.version) }}" alt="Champion">
          </div>
          <h4 class="champion-level">{{ summonerParticipant!.champLevel }}</h4>
        </div>
        <div class="game-participant-summoner-spells-and-runes">
          <img src="{{ imageService.getSpellImageUrl(summonerParticipant.summonerSpell1, match.version) }}" alt="Summoner Spell">
          <img src="{{ imageService.getSpellImageUrl(summonerParticipant.summonerSpell2, match.version) }}" alt="Summoner Spell">
        </div>
        <div class="game-participant-summoner-spells-and-runes">
          <img src="{{ imageService.getRuneImageUrl(summonerParticipant.runes.primaryRuneFirstPerk) }}">
          <img src="{{ imageService.getRuneImageUrl(summonerParticipant.runes.secondaryRuneCategory) }}">
        </div>
        <div>
          <p class="scores">{{ summonerParticipant.kills }} / {{ summonerParticipant.deaths }} / {{ summonerParticipant.assists }}</p>
          <p class="minors-stats">{{ getKDA() }} KDA</p>
          <p class="minors-stats">{{ summonerParticipant.minions + summonerParticipant.neutralMinions }} CS</p>
        </div>

      </div>
      <div class="game-participant-items">
        <img src="{{ imageService.getItemImageUrl(summonerParticipant.item0, match.version) }}" alt="Item">
        <img src="{{ imageService.getItemImageUrl(summonerParticipant.item1, match.version) }}" alt="Item">
        <img src="{{ imageService.getItemImageUrl(summonerParticipant.item2, match.version) }}" alt="Item">
        <img src="{{ imageService.getItemImageUrl(summonerParticipant.item3, match.version) }}" alt="Item">
        <img src="{{ imageService.getItemImageUrl(summonerParticipant.item4, match.version) }}" alt="Item">
        <img src="{{ imageService.getItemImageUrl(summonerParticipant.item5, match.version) }}" alt="Item">
        <img src="{{ imageService.getItemImageUrl(summonerParticipant.ward, match.version) }}" alt="Item">
      </div>
    </div>

    <div class="game-teams">
      <div class="game-team first-team">
        <div *ngFor="let participant of match.teams[0].participants" class="other-summoner">
          <ng-container *ngIf="participant.summoner.puuid === summoner.puuid; else elseBlock">
            <div class="participant-summoner-name">{{ participant.summoner.name }}</div>
          </ng-container>
          <ng-template #elseBlock>
            <a [routerLink]="['/lol', summoner.region, participant.summoner.tag, participant.summoner.name, 'all-queues', 'all-roles']" class="other-summoner-name">
              <div>{{ participant.summoner.name }}</div>
            </a>
          </ng-template>
          <div class="other-participants-champion-box">
            <img class="game-participant-main-champion" src="{{ imageService.getChampionImageUrl(participant.champion, match.version) }}">
          </div>
        </div>
      </div>
      <div class="game-team roles">
        <img src="assets/data/lol/lol-roles/top.png">
        <img src="assets/data/lol/lol-roles/jungle.png">
        <img src="assets/data/lol/lol-roles/middle.png">
        <img src="assets/data/lol/lol-roles/bottom.png">
        <img src="assets/data/lol/lol-roles/support.png">
      </div>
      <div class="game-team">
        <div *ngFor="let participant of match.teams[1].participants" class="other-summoner">
          <div class="other-participants-champion-box">
            <img class="game-participant-main-champion" src="{{ imageService.getChampionImageUrl(participant.champion, match.version) }}">
          </div>
          <ng-container *ngIf="participant.summoner.puuid === summoner.puuid; else elseBlock">
            <div class="participant-summoner-name">{{ participant.summoner.name }}</div>
          </ng-container>
          <ng-template #elseBlock>
            <a [routerLink]="['/lol', summoner.region, participant.summoner.tag, participant.summoner.name, 'all-queues', 'all-roles']" class="other-summoner-name">
              <div>{{ participant.summoner.name }}</div>
            </a>
          </ng-template>
        </div>
      </div>
    </div>

    <div (click)="showAllMatchData()" class="all-game-stats-button">
      <div [ngClass]="{'arrow-down': !allDataIsDisplayed, 'arrow-up': allDataIsDisplayed}" class="arrow-up"></div>
    </div>
  </div>

  <div class="subcomponent-list" *ngIf="allDataIsDisplayed">
    <div class="team-data">
      <ng-container *ngTemplateOutlet="teamDataHeaderTemplate"></ng-container>
      <div class="more-data-participants">
        <lol-match-participant
          *ngFor="let participant of summonerTeam?.participants"
          [participant]="participant"
          [topDamage]="topDamage"
          [summoner]="summoner"
          [hasWin]="summonerTeam.hasWin"
          [matchVersion]="match.version"
          [remake]="match.remake">
        </lol-match-participant>
      </div>
    </div>
    <div class="team-data">
      <ng-container *ngTemplateOutlet="teamDataHeaderTemplate"></ng-container>
      <div class="more-data-participants">
        <lol-match-participant
          *ngFor="let participant of enemyTeam?.participants"
          [participant]="participant"
          [topDamage]="topDamage"
          [summoner]="summoner"
          [hasWin]="enemyTeam.hasWin"
          [matchVersion]="match.version"
          [remake]="match.remake">
        </lol-match-participant>
      </div>
    </div>
  </div>
</div>

<ng-template #teamDataHeaderTemplate>
  <div class="team-data-header">
    <p>Champion</p>
    <p>Summoner</p>
    <p>KDA</p>
    <p>Damage</p>
    <p>Golds</p>
    <p>CS</p>
    <p>Vision</p>
    <p>Items</p>
  </div>
</ng-template>
