<div *ngIf="isThisComponentReady" class="game-component">
  <riot-summoner
    [summoner]="summoner"
    [metadata]="metadata!">
  </riot-summoner>
  <tft-search-criteria
    *ngIf="summoner && summoner.updateDate"
    [summoner]="summoner!"
    [selectedQueue]="selectedQueue"
    [selectedSet]="selectedSet"
    [currentSet]="this.metadata!.currentTFTSet">
  </tft-search-criteria>
  <div *ngIf="summoner && summoner.updateDate" class="game-data">
    <div class="column">
      <riot-ranking
        [summoner]="summoner!"
        [metadata]="metadata!">
      </riot-ranking>
    </div>
    <riot-matches
      [selectedQueue]="selectedQueue"
      [selectedSet]="selectedSet"
      [summoner]="summoner!"
      (matchesUpdateEvent)="matches = $event">
    </riot-matches>
    <div class="column">
      <tft-latest-matches-placement
        [summoner]="summoner!"
        [matches]="tftMatches">
      </tft-latest-matches-placement>
    </div>
  </div>
</div>
