<div *ngIf="isThisComponentReady" class="game-component">
  <riot-summoner
    [localSummoner]="localSummoner"
    [remoteSummoner]="remoteSummoner">
  </riot-summoner>
  <tft-search-criteria
    *ngIf="localSummoner"
    [summoner]="localSummoner"
    [selectedQueue]="selectedQueue"
    [selectedSet]="selectedSet">
  </tft-search-criteria>
  <div *ngIf="localSummoner" class="game-data">
    <div class="column">
      <riot-ranking
        [summoner]="localSummoner"
        [metadata]="metadata!">
      </riot-ranking>
    </div>
    <riot-matches
      [selectedQueue]="selectedQueue"
      [selectedSet]="selectedSet"
      [summoner]="localSummoner"
      (matchesUpdateEvent)="matches = $event">
    </riot-matches>
    <div class="column">
      <tft-latest-matches-placement
        [summoner]="localSummoner"
        [matches]="tftMatches">
      </tft-latest-matches-placement>
    </div>
  </div>
</div>
