
.rank-image-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #414141;
  border: #4b4b4b 2px solid;
  position: relative;
  justify-self: center;
}

.rank-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.rank-sub-tier {
  position: absolute;
  top: 10px;
  color: #c2c2c2;
  font-weight: bold;
}
