.loading-screen {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 0;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 30px;
  font-weight: bold;
  color: #c2c2c2;
}

img {
  width: 100px;
  height: 100px;
}
