#setSelectionForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-selection {
  padding: 20px;
  font-size: 20px;
  border: #727272 1px solid;
  background-color: #1D1D1D;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

img {
  height: 35px;
  width: 35px;
}
