<div *ngIf="player" class="profile">
  <div class="profile-icon-level">
    <div class="player-level-component">
      <img alt="exp"
           ngSrc="assets/data/clash-royal/cr-exp.png" height="90" width="90"/>
      <h3 class="player-level">{{ player.accountLevelNomenclature.level }}</h3>
    </div>
    <div class="progress-bar" *ngIf="localPlayer">
      <div class="text-part">
        {{ player.expPoints }}&nbsp;/&nbsp;{{ player.accountLevelNomenclature.expToNextLevel }}
      </div>
      <div class="filled-progress-bar" [style.width.%]="player.expPoints / player.accountLevelNomenclature.expToNextLevel * 100"></div>
    </div>
  </div>
  <div class="profile-name-and-update">
    <div class="profile-name">{{ player.name }} #{{ player.id }}</div>
    <ng-container *ngIf="localPlayer">
      <request-button (request)="updatePlayer()"
                      [loading]="currentlyUpdating"
                      [nextAllowedRequestDate]="nextPossibleUpdateDate"
                      [title]="(currentlyUpdating ? 'GENERAL.UPDATING' : 'GENERAL.UPDATE') | translate">
      </request-button>
      <span *ngIf="timeService.getSecondsUntil(nextPossibleUpdateDate) > 0">Next possible update in {{ timeService.stringifyDateRelativeToNow(nextPossibleUpdateDate) }}</span>
      <span *ngIf="timeService.getSecondsUntil(nextPossibleUpdateDate) === 0">{{ 'TIME.UPDATED_TIME_AGO' | translate: {message : timeService.stringifyDateRelativeToNow(player!.updateDate!)} }}</span>
    </ng-container>
    <request-button *ngIf="remotePlayer"
                    (request)="updatePlayer()"
                    [loading]="currentlyUpdating"
                    [nextAllowedRequestDate]="nextPossibleUpdateDate"
                    [title]="(currentlyUpdating ? 'GENERAL.UPDATING' : 'GENERAL.UPDATE') | translate">
    </request-button>
  </div>
</div>

<div *ngIf="!player" class="no-profile">
  <div *ngIf="!player">
    <h1>Sorry, this player does not exist ...</h1>
    <img ngSrc="assets/logo/oops.png" alt="oops" height="512" width="512">
  </div>
</div>
