.main-inventories {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
}

.main-inventory {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #2c2c2c;
  padding: 20px;
  gap: 20px;
}

.items {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.inventory-title {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
