<div class="tft-match background-color-placement-{{ summonerParticipant.placement }}">

  <div class="game-summary">
    <div class="main-summary">{{ placement }}</div>
    <div class="complementary-summary">{{ timeService.getStringTimeFromMs(match.datetime) }}</div>
    <hr>
    <div class="complementary-summary">{{ timeService.formatTimeMinSec(match.datetime) }}</div>
    <div class="complementary-summary">{{ match.queue.name }}</div>
    <img src="assets/data/tft/tft-queues/{{ match.queue.image }}" alt="Queue Icon">
  </div>

  <div class="game-traits">
    <div *ngFor="let column of activeTraits" class="traits-column">
      <div *ngFor="let trait of column" class="augments-and-traits-containers">
        <div class="image trait-style-{{ trait.nomenclature.effects[trait.tier].style }}"
             style="-webkit-mask: url('assets/data/tft/tft-traits/{{ trait.nomenclature.image}}'); -webkit-mask-size: 100%;">
        </div>
      </div>
    </div>
  </div>

  <div class="game-units">
    <div *ngFor="let unit of summonerParticipant.units" class="units">
      <tft-match-unit [unit]="unit"></tft-match-unit>
    </div>
  </div>

  <div class="game-augments">
    <div *ngFor="let augment of summonerParticipant.augments" class="augments-and-traits-containers">
      <img class="image" src="assets/data/tft/tft-augments/{{ augment.image }}" alt="Augment Icon">
    </div>
  </div>

  <div (click)="showAllMatchData()" class="all-game-stats-button">
    <div [ngClass]="{'arrow-down': !allDataIsDisplayed, 'arrow-up': allDataIsDisplayed}" class="arrow-up"></div>
  </div>
</div>
