@import 'src/app/component/tft/teamfight-tactics.component.css';

.tft-match {
  display: grid;
  grid-template-columns: 2fr 2fr 18fr 2fr 1fr;
  border-radius: 10px;
}

.game-summary {
  margin-left: 15px;
  margin-top: 7px;
  grid-column: 1;
}

.main-summary {
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.complementary-summary {
  color: darkgrey;
}

.traits-column {
  display: flex;
  flex-direction: column; /* Affiche les éléments verticalement */
  justify-content: center; /* Centrez horizontalement */
  align-items: center; /* Centrez verticalement */
  gap: 10px;
}

.game-traits {
  grid-column: 2;
  display: flex;
  flex-direction: row; /* Affiche les éléments verticalement */
  justify-content: center; /* Centrez horizontalement */
  align-items: center; /* Centrez verticalement */
  gap: 10px;
}

.augments-and-traits-containers {
  border-radius: 50%;
  display: flex; /* Permet au contenu d'être centré verticalement et horizontalement */
  justify-content: center; /* Centre horizontalement le contenu dans le conteneur */
  align-items: center; /* Centre verticalement le contenu dans le conteneur */
  width: 35px; /* Largeur fixe souhaitée */
  height: 35px; /* Hauteur fixe souhaitée */
  background: #1D1D1D;
}

.trait-style-1 {
  background-color: #9a5858; /* Couleur rouge (modifiable) */
}

.trait-style-2 {
  background-color: silver; /* Couleur rouge (modifiable) */
}

.trait-style-3 {
  background-color: gold; /* Couleur rouge (modifiable) */
}

.trait-style-4 {
  background-color: purple; /* Couleur rouge (modifiable) */
}

.image {
  border-radius: 50%;
  display: flex; /* Permet au contenu d'être centré verticalement et horizontalement */
  justify-content: center; /* Centre horizontalement le contenu dans le conteneur */
  align-items: center; /* Centre verticalement le contenu dans le conteneur */
  width: 25px; /* Largeur fixe souhaitée */
  height: 25px; /* Hauteur fixe souhaitée */
}

.game-units {
  grid-column: 3;
  display: flex;
}

.game-augments {
  grid-column: 4;
  display: flex;
  flex-direction: column; /* Affiche les éléments verticalement */
  justify-content: center; /* Centrez horizontalement */
  align-items: center; /* Centrez verticalement */
  gap: 10px;
}

.all-game-stats-button {
  display: flex;
  justify-content: center;
  grid-column: 5;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

hr {
  background-color: rgba(211, 211, 211, 0.4);
  height: 1px;
  width: 50px;
  border: none; /* Supprimez la bordure par défaut */
  margin: 10px 0; /* Espacement autour du <hr> (facultatif) */
}
