<div *ngIf="board && componentIsReady" class="game-component">
  <div class="component board-name-and-update">
    <div class="board-name" *ngIf="!isEditing">{{ board.name }}</div>
    <input class="basic-input board-name-input" *ngIf="isEditing" [placeholder]="'Board Name ...'" [defaultValue]="board.name" [maxLength]="30" #boardNameInput>
    <div [style.display]="'flex'" [style.flex-direction]="'row'" [style.gap.px]="10">
      <request-button (request)="updateBoard()"
                      [loading]="boardUpdating"
                      [nextAllowedRequestDate]="nextPossibleUpdateDate"
                      [title]="(boardUpdating ? 'LOL.UPDATING_SUMMONERS' : 'LOL.UPDATE_SUMMONERS') | translate">
      </request-button>
      <button (click)="toggleEditing()" class="basic-button edit-button" [style.width]="'fit-content'">
        <div>{{ (!isEditing ? 'GENERAL.EDIT_MODE' : 'GENERAL.VIEW_MODE') | translate }}</div>
        <img src="assets/logo/{{ !isEditing ? 'edit' : 'view' }}.png" [ngClass]="isEditing ? 'view-icon' : 'edit-icon'">
      </button>
      <button (click)="deleteBoard()" class="basic-button delete-board-button edit-button" [style.width]="'fit-content'" *ngIf="isEditing">
        <div>{{ 'GENERAL.DELETE_BOARD' | translate }}</div>
        <img src="assets/logo/bin.png" class="delete-board-icon">
      </button>
    </div>
    <span *ngIf="timeService.getSecondsUntil(nextPossibleUpdateDate) > 0">Next possible update in {{ timeService.stringifyDateRelativeToNow(nextPossibleUpdateDate) }}</span>
    <span *ngIf="timeService.getSecondsUntil(nextPossibleUpdateDate) === 0">{{ 'TIME.UPDATED_TIME_AGO' | translate: {message : timeService.stringifyDateRelativeToNow(board!.updateDate!)} }}</span>
  </div>
  <div class="subcomponent-list component">
    <div *ngFor="let boardSummonerData of summoners" class="subcomponent">
      <div class="summoner" *ngIf="boardSummonerData.summoner.updateDate">
        <img class="profile-icon" src="{{ imageService.getProfileIconUrl(boardSummonerData.summoner.icon, lolMetadata!.currentPatch) }}" alt="Profile Icon">
        <a class="component-title" [routerLink]="['/lol', boardSummonerData.summoner.region, boardSummonerData.summoner.tag, boardSummonerData.summoner.name, 'all-queues', 'all-roles']">
          <span>{{ boardSummonerData.summoner.name + ' #' + boardSummonerData.summoner.tag}}</span>
        </a>
        <div class="ranks">
          <div *ngFor="let metadataRank of getAllLOLRanks()">
            <div *ngVar="rankService.getRank(boardSummonerData.ranks, lolMetadata?.currentSeasonOrSet ?? 0, metadataRank)?.rankInformations?.at(-1) as rank">
                <riot-rank-image [rank]="rank" [title]="rank ? rank.leaguePoints + ' LP' : 'Unranked'" [radius]="80"></riot-rank-image>
            </div>
          </div>
        </div>
        <div class="roles">
          <div *ngFor="let index of [0, 1, 2, 3, 4]" class="roles-bar">
            <img src="assets/data/lol/lol-roles/{{ roleImages[index] }}.png">
            <ng-container *ngVar="boardSummonerData.mainRoles [index] as result">
              <div class="role-bar-result" [style.height.%]="(result[0] + result[1]) / boardSummonerData.maxPlayedRole * 100"></div>
              <div class="role-text-result">{{ Math.round((result[0] + result[1]) / boardSummonerData.maxPlayedRole * 100) }}%</div>
            </ng-container>
          </div>
        </div>
        <div class="matches-recap">
          <div>
            <span>WR : </span>
            <span [style.font-weight]="'bold'" [style.color]="'white'">{{ Math.round(boardSummonerData.wins / (boardSummonerData.wins + boardSummonerData.losses) * 100)}}%</span><!-- TODO WR color -->
          </div>
          <div>{{ getWinsNumber(boardSummonerData.matchesResults) }}{{ ('GENERAL.VICTORY' | translate).charAt(0) }} - {{ getLossesNumber(boardSummonerData.matchesResults) }}{{ ('GENERAL.DEFEAT' | translate).charAt(0) }}</div>
          <div class="streak {{ boardSummonerData.matchesStreak > 0 ? 'win-streak' : 'lose-streak' }}">
            {{ boardSummonerData.matchesStreak > 0 ? '🔥' : '❄️' }} {{ Math.abs(boardSummonerData.matchesStreak) }}
          </div>
        </div>
        <div class="matches-result">
          <div *ngFor="let matchResult of boardSummonerData.matchesResults" class="placement background-color-{{ matchResult.toLowerCase() }}">
            {{ ('GENERAL.' + matchResult | translate).charAt(0) }}
          </div>
        </div>
        <div class="masteries">
          <div *ngFor="let mastery of boardSummonerData.masteries" class="mastery">
            <div class="champion-box">
              <img [src]="imageService.getLOLChampionImageUrl(mastery.champion, lolMetadata!.currentPatch)" alt="Champion">
            </div>
            <div class="mastery-box" [title]="mastery.points">
              <img src="assets/data/lol/lol-masteries/mastery-{{ Math.min(mastery.level, 10) }}.png" alt="Mastery">
              <div class="mastery-level">{{ mastery.level }}</div>
            </div>
          </div>
        </div>
        <div class="coming-soon"><span class="subcomponent-title">{{ 'GENERAL.INCOMING' | translate }} ...</span></div>
        <ng-container *ngTemplateOutlet="deleteButton; context: { isLoading: boardSummonerData.isRemoving, boardSummonerData: boardSummonerData }"></ng-container>
      </div>
      <div class="summoner" *ngIf="!boardSummonerData.summoner.updateDate">
        <img class="profile-icon" src="{{ imageService.getProfileIconUrl(boardSummonerData.summoner.icon, lolMetadata!.currentPatch) }}" alt="Profile Icon">
        <a class="component-title" [routerLink]="['/lol', boardSummonerData.summoner.region, boardSummonerData.summoner.tag, boardSummonerData.summoner.name, 'all-queues', 'all-roles']">
          <span>{{ boardSummonerData.summoner.name + ' #' + boardSummonerData.summoner.tag}}</span>
        </a>
        <request-button [title]="boardSummonerData.isImporting ? 'Importing' : 'Import'" [loading]="boardSummonerData.isImporting" (request)="importSummoner(boardSummonerData)"></request-button>
        <ng-container *ngTemplateOutlet="deleteButton; context: { isLoading: boardSummonerData.isRemoving, boardSummonerData: boardSummonerData }"></ng-container>
      </div>
    </div>
    <div class="subcomponent" *ngIf="isEditing || board.puuids.length === 0">
      <form (submit)="addSummoner(region.value, riotTag.value, riotName.value)" class="add-summoner" #addSummonerForm>
        <select #region name="region" class="basic-select">
          <option *ngFor="let region of regions" [ngValue]="region">{{ region }}</option>
        </select>
        <input #riotName name="riotName" type="text" [placeholder]="'LOL.SUMMONER' | translate" class="basic-input">
        <div class="hashtag">#</div>
        <input #riotTag name="riotTag" type="text" placeholder="EUW" [style.width]="'80px'" [maxLength]="5" class="basic-input">
        <request-button [title]="'LOL.ADD_SUMMONER' | translate" [loading]="addSummonerLoading" type="submit"></request-button>
      </form>
    </div>
    <div *ngFor="let i of range(board.puuids.length - summoners.length)" class="subcomponent waiting-summoner"></div>
  </div>
<div *ngIf="!componentIsReady">
  Board is retrieving
</div>
</div>
<div *ngIf="!board && componentIsReady">
  Board doesn't exists
</div>

<ng-template #deleteButton let-isLoading="isLoading" let-boardSummonerData="boardSummonerData">
  <div class="delete-summoner-icon" *ngIf="isEditing" (click)="removeSummoner(boardSummonerData)">
    <img *ngIf="!isLoading" src="assets/logo/cross.png" title="Delete" class="delete-summoner-not-loading">
    <img *ngIf="isLoading" src="assets/logo/loading.gif" title="Deleting" class="delete-summoner-loading">
  </div>
</ng-template>
