.games {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.games img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  object-fit: scale-down;
}

.game-not-selected {
  background-color: #1D1D1D;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #727272;
  cursor: pointer;
}

.game-selected {
  background-color: #727272;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #1D1D1D;
  cursor: pointer;
}

.game-not-selected:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #1D1D1D;
  cursor: pointer;
}

.riot-forms {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.riot-forms-rows {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 30px;
}

.player-information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hashtag {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-right: -10px;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.bungie-reconnect-button {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow: hidden;

  img {
    width: 41px;
    margin: -10px;
    border-right: 1px solid #727272;
  }
}

button {
  white-space: nowrap;
}
