<div class="container primary-component">
  <div class="global-form">
    <div class="games">
      <button (click)="selectGame('lol')"
              [ngClass]="{'game-selected': selectedGame === 'lol', 'game-not-selected': selectedGame !== 'lol'}">
        <img alt="LOL logo" src="assets/logo/lol_logo.png">
      </button>
      <button (click)="selectGame('tft')"
              [ngClass]="{'game-selected': selectedGame === 'tft', 'game-not-selected': selectedGame !== 'tft'}">
        <img alt="TFT logo" src="assets/logo/tft_logo.png">
      </button>
      <button (click)="selectGame('clash-royal')"
              [ngClass]="{'game-selected': selectedGame === 'clash-royal', 'game-not-selected': selectedGame !== 'clash-royal'}">
        <img alt="Clash Royal logo" src="assets/logo/clash-royal_logo.png">
      </button>
      <button (click)="selectGame('destiny')"
              [ngClass]="{'game-selected': selectedGame === 'destiny', 'game-not-selected': selectedGame !== 'destiny'}">
        <img alt="Destiny logo" src="assets/logo/destiny_logo.png" style="filter: invert(80%);">
      </button>
    </div>

    <div *ngIf="selectedGame == 'tft' || selectedGame == 'lol'" class="player">
      <form #riotSummonerForm="ngForm" (submit)="redirectToRiotSummonerPage()" class="riot-form">
        <div class="title">Summoner&nbsp;:</div>
        <select [(ngModel)]="selectedRegion" name="region">
          <option *ngFor="let region of regions" [ngValue]="region">{{ region }}</option>
        </select>
        <input [(ngModel)]="riotName" name="riotName" type="text" placeholder="Riot Name">
        <div class="hashtag">#</div>
        <input [(ngModel)]="riotTag" name="riotTag" type="text" placeholder="EUW" [style.width]="'80px'" [maxlength]="5">
        <button type="submit">Afficher</button>
      </form>
      <form #riotBoardForm="ngForm" (submit)="redirectToRiotBoard()" class="riot-form">
        <div class="title">Board&nbsp;:</div>
        <input [(ngModel)]="riotBoardId" name="riotBoard" type="text" placeholder="Board ID">
        <button type="submit">Afficher</button>
        <button (click)="redirectToNewRiotBoard(selectedGame == 'lol')">Créer</button>
      </form>
    </div>
    <div *ngIf="selectedGame == 'clash-royal'" class="player">
      <form #supercellForm="ngForm" (submit)="redirectToSupercellPage()">
        <div class="player-information">
          <div class="hashtag">#</div>
          <input [(ngModel)]="playerName" name="name" type="text" placeholder="Clash Royal ID">
        </div>
        <button class="player-information" type="submit">Afficher</button>
      </form>
    </div>
    <div *ngIf="selectedGame == 'destiny'" class="player player-information">
      <button *ngIf="isBungieUserCurrentlyLogged()" (click)="this.redirectToDestinyPage()">
        <span>Login as {{ getBungieCurrentLoggedUser() }}</span>
      </button>
      <button (click)="this.loginToBungie()">
        <span>Login {{ isBungieUserCurrentlyLogged() ? "as another user" : "to Bungie"}}</span>
      </button>
    </div>
  </div>
</div>
