<div class="component-list">
  <div *ngFor="let postmaster of postmasters" class="component subcomponent-list">
    <div class="component-title">
      <span>Postmaster &nbsp;</span>
      <span>({{ postmaster.items.length }} / 21)</span>
      <span *ngIf="postmaster.items.length > 15" class="warning">⚠️</span>
    </div>
    <div class="items small-subcomponent">
      <destiny-item *ngFor="let item of postmaster.items" [item]="item" (click)="moveItem(item, postmaster)" class="item" cdkDrag></destiny-item>
    </div>
  </div>
</div>
