<div class="postmaster-list">
  <div *ngFor="let postmaster of postmasters" class="postmaster">
    <div class="postmaster-title">
      <span>Postmaster &nbsp;</span>
      <span>({{ postmaster.items.length }} / 21)</span>
      <span *ngIf="postmaster.items.length > 15" class="warning">⚠️</span>
    </div>
    <div class="items">
      <div *ngFor="let item of postmaster.items">
        <destiny-item [item]="item" (click)="moveItem(item, postmaster)" class="item-that-can-move" cdkDrag>
        </destiny-item>
      </div>
    </div>
  </div>
</div>
