@import 'src/app/component/destiny/destiny.component.css';

.character-image {
  filter: invert(70%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.postmaster-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.character-image-container {
  width: 45px;
  height: 30px;
}
