@import 'src/app/component/destiny/destiny.component.css';

.records {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.weapon-category-title {
  font-weight: bold;
  font-size: 22px;
  color: white;
  justify-content: center;
  display: flex;
  position: relative;
}

.sub-weapon-category-title {
  font-size: 20px;
  color: #C2C2C2;
  margin-bottom: 10px;
  text-align: center;
}
