<div *ngIf="!isThisComponentReady" class="no-matches-played-container">
  <div class="nothing-to-show-message">Retrieval matches&nbsp;&nbsp;</div>
  <img src="assets/logo/loading.gif">
</div>
<ng-container *ngIf="isThisComponentReady">
  <div *ngIf="totalMatchesCount === 0" class="no-matches-played-container">
    <div class="nothing-to-show-message">No matches played</div>
  </div>
  <div class="matches-component" *ngIf="isThisComponentReady">
    <div *ngFor="let matchPage of matchesPages" class="matches">
        <lol-match *ngFor="let match of matchPage" [match]="match" [summoner]="summoner"></lol-match>
    </div>
    <button *ngIf="hasMoreMatches()" (click)="getMatches()" class="more-matches">Show more matches</button>
  </div>
</ng-container>
