@import 'src/app/component/clash_royal/clash-royal.component.css';

.cr-badges {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cr-badges-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cr-success-badges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  background-color: rgba(211, 211, 211, 0.4);
  height: 1px;
  width: 400px;
  border: none;
}

img {
  margin: -20px;
}
