<h1 class="cr-badges-title">{{ "CR.BADGES" | translate}}</h1>
<hr>
<div class="cr-badges">
  <div *ngFor="let badge of getSuccessBadges()" class="cr-success-badges">
    <img ngSrc="{{badge.image}}" height="150" width="150">
    <div class="progress-bar" [ngStyle]="{'opacity': (badge.level !== badge.maxLevel) ? 'opacity' : 0, width: '100px'}">
      <div class="text-progress-bar">
        {{ badge.progress }}&nbsp;/&nbsp;{{ badge.target }}
      </div>
      <div *ngIf="badge.progress! / badge.target! < 1" class="filled-progress-bar" [style.width.%]="(badge.progress! / badge.target! < 0.1 && badge.progress! / badge.target! != 0) ? 10 : badge.progress! / badge.target! * 100"></div>
    </div>
  </div>
</div>

<h1 class="cr-badges-title">{{ "CR.MASTERIES" | translate}}</h1>
<hr>
<div class="cr-badges">
  <div *ngFor="let badge of getMasteriesBadges()">
    <img ngSrc="{{badge.image}}" height="150" width="150">
  </div>
</div>
