<div class="component-list overlay">
  <div class="header"
       [style.background-color]="getBackgroundColor(itemOverlay.item!.itemNomenclature.tierTypeHash!)"
       [style.color]="getColor(itemOverlay.item!.itemNomenclature.tierTypeHash!)">
    <span class="item-name">{{ itemOverlay.item!.itemNomenclature.name }}</span>
    <span class="item-type">{{ itemOverlay.item!.itemNomenclature.itemTypeDisplayName }}</span>
  </div>
  <div class="stats" *ngIf="itemOverlay.item!.itemStats">
    <div class="stat" *ngFor="let stat of orderItemStats(itemOverlay.item!.itemStats ?? [])">
      <span class="stat-name" [title]="itemOverlay.statNomenclatures.get(stat.statHash!)?.description">{{ itemOverlay.statNomenclatures.get(stat.statHash!)?.name }}</span>
      <span [style.justify-self]="'center'">{{ stat.value }}</span>
      <span *ngIf="needMs(stat.statHash)" [style.justify-self]="'left'">ms</span>
      <progress-bar
        *ngIf="needAProgressBar(stat.statHash)"
        [color]="'#757575'"
        [progressValue]="stat.value"
        [completionValue]="100"
        [showNumbers]="false">
      </progress-bar>
    </div>
    <div class="stat" *ngIf="itemOverlay.item!.itemNomenclature.itemType == 2">
      <span class="stat-name" [style.font-weight]="'bold'">Total</span>
      <span [style.justify-self]="'center'" [style.font-weight]="'bold'">{{ getStatsTotal(itemOverlay.item!) }}</span>
    </div>
  </div>
  <span *ngIf="!itemOverlay.item!.itemStats" class="description">{{ itemOverlay.item!.itemNomenclature.description }}</span>
  <div class="socket-categories" *ngIf="itemOverlay.item!.itemNomenclature.itemType === DestinyItemTypeEnum.Weapon && intrinsicTraitSocket && itemService.getWeaponPerksSocket(itemOverlay.item!)">
    <div class="socket-category">
      <img *ngFor="let socketIndex of intrinsicTraitSocket.socketIndexes" [src]="DestinyComponent.ASSET_URL + itemService.getCurrentPlug(itemOverlay.item!, socketIndex).icon" class="intrinsic" [title]="itemService.getCurrentPlug(itemOverlay.item!, socketIndex).name">
    </div>
    <div class="socket-category" *ngFor="let socketIndex of itemService.getWeaponPerksSocket(itemOverlay.item!).socketIndexes">
      <img *ngFor="let plug of itemService.getAllPlugs(itemOverlay.item!, socketIndex)" [src]="DestinyComponent.ASSET_URL + plug.icon"
           [ngClass]="{'active-plug': plug === itemService.getCurrentPlug(itemOverlay.item!, socketIndex),
           'upgraded-plug': plug.tierTypeHash === DestinyTierTypeEnum.Ordinary && plug === itemService.getCurrentPlug(itemOverlay.item!, socketIndex) }" class="plug"
           [title]="plug.name">
    </div>
  </div>
  <div class="objectives" *ngIf="itemOverlay.item!.itemObjectives?.length ?? 0 > 0">
    <div *ngFor="let objective of itemOverlay.item!.itemObjectives">
      <destiny-simple-objective [objective]="objective" [nomenclature]="itemOverlay.objectiveNomenclatures.get(objective.objectiveHash)!" [areAllObjectivesCompleted]="objectiveService.areAllObjectivesCompleted(itemOverlay.item!.itemObjectives!)"></destiny-simple-objective>
    </div>
  </div>
  <hr *ngIf="itemOverlay.item!.itemNomenclature.rewards?.length ?? 0 > 0">
  <div *ngIf="itemOverlay.item!.itemNomenclature.rewards?.length ?? 0 > 0" class="rewards">
    <span class="rewards-title">Récompenses :</span>
    <destiny-reward *ngFor="let reward of itemOverlay.item!.itemNomenclature.rewards" [item]="reward"></destiny-reward>
  </div>
  <div *ngIf="objectiveService.showExpiration(itemOverlay.item!)" class="rewards">
    <span class="expire-title">{{ objectiveService.isExpired(itemOverlay.item!) ? "Expiré" : "Expire dans " + timeService.getTimeRemainingDHM(itemOverlay.item?.expirationDate!) }}</span>
  </div>
</div>
