<div class="contracts-component">
  <div class="characters">
    <div class="subcomponent-title" *ngFor="let character of characterContracts">
      <div class="character-image-container">
        <img class="character-image character-image-container" src="assets/data/destiny/classes/{{ getImageByClassHash(this.destinyComponent.profile.characters, character.characterHash) }}"
             title="{{ getClassNameByGender(this.destinyComponent.profile.characters, character.characterHash) }}" alt="Class">
      </div>
      <span>({{ character.contracts.length }} / 63)</span>
    </div>
  </div>
  <div class="characters">
    <div *ngFor="let character of characterContracts" class="character subcomponent">
      <destiny-item *ngFor="let contract of character.contracts" [item]="contract"></destiny-item>
    </div>
  </div>
</div>
