<div class="subcomponent-list">
    <destiny-character-item-filters class="subcomponent subcomponent-list"></destiny-character-item-filters>
  <div class="characters">
    <div class="character-image-container" *ngFor="let characterInventory of characterInventories">
      <img class="character-image" src="assets/data/destiny/classes/{{ getImageByClassHash(this.destinyComponent.profile.characters, characterInventory.characterHash) }}"
           title="{{ getClassNameByGender(this.destinyComponent.profile.characters, characterInventory.characterHash) }}" alt="Class">
    </div>
    <div class="vault subcomponent-title">
      <img class="character-image-container character-image" src="assets/data/destiny/vault.png" title="Vault" alt="Vault">
      <span>({{ getVaultItems(null).length }} / {{ 700 }})</span>
    </div>
  </div>
  <div class="item-categories">
    <div class="characters" *ngFor="let bucketHash of getAllCharacterBuckets()" cdkDropListGroup>
      <div id="character-inventory-{{ bucketHash + '-' + characterInventory.characterHash }}" *ngFor="let characterInventory of characterInventories" class="character-item-category subcomponent">
        <div class="equippedItem" cdkDropList (cdkDropListDropped)="dropItem(characterInventory, bucketHash, true)">
          <destiny-item [item]="getEquippedItem(characterInventory.characterHash, bucketHash)" cdkDrag
                        [ngClass]="{'item-to-hide': !shouldItemBeDisplayed(getEquippedItem(characterInventory.characterHash, bucketHash))}"
                        (cdkDragStarted)="startDraggingItem(getEquippedItem(characterInventory.characterHash, bucketHash), characterInventory, bucketHash, true)">
          </destiny-item>
        </div>
        <div class="items" cdkDropList (cdkDropListDropped)="dropItem(characterInventory, bucketHash, false)" [cdkDropListSortingDisabled]="true">
          <destiny-item *ngFor="let item of getUnequippedItems(characterInventory.characterHash, bucketHash)" id="item-{{ item.itemInstanceId }}"
                        [ngClass]="{'item-to-hide': !shouldItemBeDisplayed(item)}"
                        [item]="item" cdkDrag
                        (cdkDragStarted)="startDraggingItem(item, characterInventory, bucketHash, false)">
          </destiny-item>
        </div>
      </div>
      <div class="items subcomponent vault-items" cdkDropList
           (cdkDropListDropped)="dropItem(vaultInventory, bucketHash, false)" [cdkDropListSortingDisabled]="true"
           id="inventory-{{ bucketHash }}-vault" >
        <destiny-item *ngFor="let item of getVaultItems(bucketHash)" id="item-{{ item.itemInstanceId }}"
                      [ngClass]="{'item-to-hide': !shouldItemBeDisplayed(item)}"
                      [item]="item" cdkDrag
                      (cdkDragStarted)="startDraggingItem(item, vaultInventory, bucketHash, false)">
        </destiny-item>
      </div>
    </div>
  </div>
</div>
