@import 'src/app/component/destiny/destiny.component.css';

.characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  gap: 8px;
}

.character-title {
  color: white;
}

.item-categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.character-image {
  filter: invert(70%);
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.character-image-container {
  width: 60px;
  height: 40px;
  justify-self: center;
}

.character-item-category {
  padding: 5px 0 5px 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 3fr;
}

.items {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, 50px);
  justify-content: center;
  grid-auto-rows: 68px;
  max-height: 214px;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #C2C2C2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}

.vault-items {
  padding: 5px;
}

destiny-item {
  cursor: grab;
  width: 50px;
  height: 68px;
}

destiny-item:active {
  width: 50px;
  height: 68px;
  cursor: grabbing;
}

.equippedItem {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  width: 50px;
  height: 68px;
  overflow: hidden;
}

.vault {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.character-item-category-droppable {
  background-color: #414141;
}

.cdk-drag-placeholder {
  opacity: 50%;
}

.item-being-transferred {
  animation: blink 0.5s infinite alternate;
}

.item-to-hide {
  opacity: 20%;
}
