<div *ngIf="isParentComponentReady">
  <div class="characters-and-vault">
    <div class="item-categories">
      <div class="characters" *ngFor="let itemCategory of getItemCategories()">
        <div *ngFor="let characterInventory of characterInventories" class="character-item-category subcomponent">
          <destiny-item [item]="getEquippedItem(characterInventory.characterHash, itemCategory)" class="equippedItem">
          </destiny-item>
          <div class="items">
            <destiny-item *ngFor="let item of getUnequippedItems(characterInventory.characterHash, itemCategory)" [item]="item" class="item-that-can-move">
            </destiny-item>
          </div>
        </div>
      </div>
    </div>
    <div class="items subcomponent vault">
      <destiny-item *ngFor="let item of getVaultItems()" [item]="item" class="item-that-can-move">
      </destiny-item>
    </div>
  </div>
</div>
