<div class="item-categories" *ngIf="isParentComponentReady">
  <div class="characters">
    <div *ngFor="let characterInventory of characterInventories" class="title">{{ getCharacterClassName(characterInventory.characterHash) }}</div>
    <div class="title">Vault ({{ getVaultItems(null).length }} / {{ 700 }})</div>
  </div>
  <div class="characters" *ngFor="let bucketHash of getAllCharacterBuckets()" cdkDropListGroup>
    <div id="character-inventory-{{ bucketHash + '-' + characterInventory.characterHash }}" *ngFor="let characterInventory of characterInventories" class="character-item-category subcomponent">
      <div class="equippedItem">
        <destiny-item [item]="getEquippedItem(characterInventory.characterHash, bucketHash)">
        </destiny-item>
      </div>
      <div class="items" cdkDropList (cdkDropListDropped)="dropItem(characterInventory, bucketHash)" [cdkDropListSortingDisabled]="true">
        <destiny-item *ngFor="let item of getUnequippedItems(characterInventory.characterHash, bucketHash)" id="item-{{ item.itemInstanceId }}"
                      [item]="item" class="item-that-can-move" cdkDrag
                      (cdkDragStarted)="startDraggingItem(item, characterInventory, bucketHash)">
        </destiny-item>
      </div>
    </div>
    <div class="items subcomponent vault-items" cdkDropList
         (cdkDropListDropped)="dropItem(vaultInventory, bucketHash)" [cdkDropListSortingDisabled]="true"
         id="inventory-{{ bucketHash }}-vault" >
      <destiny-item *ngFor="let item of getVaultItems(bucketHash)" id="item-{{ item.itemInstanceId }}"
                    [item]="item" class="item-that-can-move" cdkDrag
                    (cdkDragStarted)="startDraggingItem(item, vaultInventory, bucketHash)">
      </destiny-item>
    </div>
  </div>
</div>
