@import 'src/app/component/destiny/destiny.component.css';

.records {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.obscured {
  opacity: 0.3;
}

.weapon-category-title {
  font-weight: bold;
  font-size: 22px;
  color: white;
  justify-content: center;
  display: flex;
  position: relative;
  cursor: pointer;
}
