img {
  width: 119%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: calc(100% - 40px);
  opacity: 40%;
}

.badge-image-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.completed {
  background-color: #BDAB6D33;
  border: 2px solid #93884c;
  height: calc(100% - 44px);
  opacity: 100%;
}

.big-title-name {
  color: white;
  font-size: 30px;
  text-align: center;
}
