<div class="cr-ranking">
  <div class="rank-container">
    <div class="rank-title">{{ 'CR.TROPHY_ROAD' | translate }}</div>
    <hr>
    <div class="dual-column-rank-content">
      <div class="rank-content">
        <img class="cr-rank-image" ngSrc="{{ getArenaImageUrl(arena.name.replace(' ', '').toLowerCase()) }}.png" alt="arena" height="125" width="125">
      </div>

      <div class="rank-content rank-information">
          <div>{{ arena.name }}</div>
        <div class="trophies">
          <div>{{ seasonsTrophies!.currentSeason!.trophies }}</div>
          <img class="cr-rank-image" ngSrc="assets/data/clash-royal/cr-trophy.png" alt="trophy icon" height="25" width="25">
        </div>
      </div>
    </div>
  </div>

  <div class="rank-container">
    <div class="rank-title">{{ 'CR.PATH_OF_LEGENDS' | translate }}</div>
    <hr>
    <div class="dual-column-rank-content">
      <div class="rank-content">
        <img class="cr-rank-image" ngSrc="{{ getArenaImageUrl( 'league' + seasonsLeagues.currentSeason.leagueNumber) }}.png" alt="league" height="125" width="125">
      </div>

      <div class="rank-content rank-information">
        <div>{{ 'CR.LEAGUE' | translate }} {{ seasonsLeagues!.currentSeason!.leagueNumber }}</div>
      </div>
    </div>
  </div>
</div>
