<div class="cr-ranking">{{console.log(arena)}}
  <div class="rank-container">
    <div class="rank-title">Trophy Road</div>
    <hr>
    <div class="dual-column-rank-content">
      <div class="rank-content">
            <img class="cr-rank-image" ngSrc="{{ getArenaImageUrl(arena.image) }}" alt="arena" height="125" width="125">
      </div>

      <div class="rank-content rank-information">
          <div>{{ arena.name }}</div>
        <div class="trophies">
          <div>{{ seasonsTrophies!.currentSeason!.trophies }}</div>
          <img class="cr-rank-image" ngSrc="assets/data/clash-royal/cr-trophy.png" alt="trophy icon" height="25" width="25">
        </div>
      </div>
    </div>
  </div>

  <div class="rank-container">
    <div class="rank-title">Path of Legend</div>
    <hr>
    <div class="dual-column-rank-content">
      <div class="rank-content">
        <img class="cr-rank-image" ngSrc="{{ getArenaImageUrl( 'league' + seasonsLeagues.currentSeason.leagueNumber) }}.png" alt="league" height="150" width="150">
      </div>

      <div class="rank-content rank-information">
        <div>League {{ seasonsLeagues!.currentSeason!.leagueNumber }}</div>
      </div>
    </div>
  </div>
</div>
