<div class="tab-selectors">
  <div class="tab-buttons">
    <a [routerLink]="['/destiny', urlArgs.platform, urlArgs.membership, urlArgs.character, DestinyComponentSelectorComponent.vendors]">
      <button [ngClass]="{'tab-selected': urlArgs.component === DestinyComponentSelectorComponent.vendors, 'tab-not-selected': urlArgs.component !== DestinyComponentSelectorComponent.vendors}">
        <span>Vendors</span>
      </button>
    </a>
    <a [routerLink]="['/destiny', urlArgs.platform, urlArgs.membership, urlArgs.character, DestinyComponentSelectorComponent.collections]" *ngIf="false">
      <button [ngClass]="{'tab-selected': urlArgs.component === DestinyComponentSelectorComponent.collections, 'tab-not-selected': urlArgs.component !== DestinyComponentSelectorComponent.collections}">
        <span>Collections</span>
      </button>
    </a>
    <a [routerLink]="['/destiny', urlArgs.platform, urlArgs.membership, urlArgs.character, DestinyComponentSelectorComponent.badges]">
      <button [ngClass]="{'tab-selected': urlArgs.component === DestinyComponentSelectorComponent.badges, 'tab-not-selected': urlArgs.component !== DestinyComponentSelectorComponent.badges}">
        <span>Badges</span>
      </button>
    </a>
    <a [routerLink]="['/destiny', urlArgs.platform, urlArgs.membership, urlArgs.character, DestinyComponentSelectorComponent.models]">
      <button [ngClass]="{'tab-selected': urlArgs.component === DestinyComponentSelectorComponent.models, 'tab-not-selected': urlArgs.component !== DestinyComponentSelectorComponent.models}">
        <span>Models</span>
      </button>
    </a>
    <a [routerLink]="['/destiny', urlArgs.platform, urlArgs.membership, urlArgs.character, DestinyComponentSelectorComponent.catalysts]">
      <button [ngClass]="{'tab-selected': urlArgs.component === DestinyComponentSelectorComponent.catalysts, 'tab-not-selected': urlArgs.component !== DestinyComponentSelectorComponent.catalysts}">
        <span>Catalysts</span>
      </button>
    </a>
    <a [routerLink]="['/destiny', urlArgs.platform, urlArgs.membership, urlArgs.character, DestinyComponentSelectorComponent.titles]">
      <button [ngClass]="{'tab-selected': urlArgs.component === DestinyComponentSelectorComponent.titles, 'tab-not-selected': urlArgs.component !== DestinyComponentSelectorComponent.titles}">
        <span>Titles</span>
      </button>
    </a>
    <a [routerLink]="['/destiny', urlArgs.platform, urlArgs.membership, urlArgs.character, DestinyComponentSelectorComponent.characters]">
      <button [ngClass]="{'tab-selected': urlArgs.component === DestinyComponentSelectorComponent.characters, 'tab-not-selected': urlArgs.component !== DestinyComponentSelectorComponent.characters}">
        <span>Characters</span>
      </button>
    </a>
    <a [href]="raidReportUrl" target="_blank">
      <button class="tab-not-selected">
        <span>Raid Report</span>
      </button>
    </a>
    <a [href]="dungeonReportUrl" target="_blank">
      <button class="tab-not-selected">
        <span>Dungeon Report</span>
      </button>
    </a>
  </div>
</div>
