.navbar {
  background-color: #7a6233;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 7vh;
}

.home-link {
  cursor: pointer;
  margin-left: 10px;
}

.home-logo {
  width: 40px;
}
