<div class="navbar">
  <div class="links">
    <a class="link" routerLink="/">
      <img alt="Home"
           class="logo"
           src="../../../assets/logo/home_logo.png">
    </a>
    <!--
       <a class="link" routerLink="/tft">
           <img alt="Teamfight Tactics"
                class="logo"
                src="../../../assets/logo/tft_logo.png">
       </a>
       <a class="link" routerLink="/lol">
           <img alt="League of Legends" class="logo" src="../../../assets/logo/lol_logo.png">
       </a>

  </div>
  <div class="player-search">
    <form #summonerForm="ngForm" (submit)="redirectToSummonerPage()">
      <div>
        <select [(ngModel)]="selectedRegion" class="region" name="region">
          <option *ngFor="let region of regions" [ngValue]="region">{{ region }}</option>
        </select>
        <input [(ngModel)]="summonerName" class="name" name="name" type="text">
      </div>
      <div class="submit-button">
        <button class="submit" type="submit">Afficher</button>
      </div>
    </form>-->
  </div>
</div>
