.navbar {
  background-color: #7a6233;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 5vh;
  position: relative;
}

.subcomponent-title {
  color: black;
}

a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  transition: all ease-in-out .15s;

  .monochrome-logo {
    filter: brightness(0);
  }

  img {
    height: 30px;
  }
}

a:hover {
  color: white;

  .monochrome-logo {
    filter: none;
  }
}

.clash-royal-img {
  width: 27px;
  height: 32px;
}

.selected-game {
  border-bottom-color: #FFFFFF55;

  .subcomponent-title {
    color: white;
  }
}

a:hover {
  background-color: #93753c;
}

dropdown {
  position: absolute;
  right: 0;
  background-color: #2c2c2c;
  border-radius: 10px;
  scale: 80%;
  transform: translate(5px);

  .custom-dropdown {
    width: 110px;
  }
}
