<div *ngIf="isThisComponentReady" class="game-component">
  <cr-player
    [localPlayer]="localPlayer"
    [remotePlayer]="remotePlayer" class="component">
  </cr-player>
  <cr-tab-selector
    *ngIf="localPlayer"
    [player]="localPlayer"
    [component]="component" class="component">
  </cr-tab-selector>
  <div *ngIf="localPlayer" class="game-data">
    <cr-ranking
      [arena]="localPlayer.arenaNomenclature"
      [seasonsLeagues]="localPlayer.seasonsLeagues"
      [seasonsTrophies]="localPlayer.seasonsTrophies" class="component">
    </cr-ranking>
    <cr-cards
      *ngIf="component === CrTabSelectorComponent.cards"
      [cards]="localPlayer.cards!" class="component">
    </cr-cards>
    <cr-chests
      *ngIf="component === CrTabSelectorComponent.chests"
      [upcomingChests]="localPlayer.upcomingChests!" class="component">
    </cr-chests>
    <cr-badges
      *ngIf="component === CrTabSelectorComponent.badges"
      [badges]="localPlayer.badges!" class="component">
    </cr-badges>
  </div>
</div>
