<div *ngIf="isThisComponentReady" class="game-component"><!-- TODO component dans les enfants-->
  <destiny-profile class="component"
                   [profile]="profile"
                   [characterTitleNomenclatures]="characterTitleNomenclatures">
  </destiny-profile>
  <destiny-component-selector class="component"
                              [urlArgs]="urlArgs">
  </destiny-component-selector>
  <div class="game-data">
    <destiny-postmaster
      [characterInventories]="profile.characterInventories"
      [itemInstances]="profile.itemInstances"
      [itemNomenclatures]="itemNomenclatures">
    </destiny-postmaster>
    <destiny-vendors *ngIf="urlArgs.component === 'vendors'" class="component"
                     [vendorGroups]="vendorGroups">
    </destiny-vendors>
    <destiny-collections *ngIf="urlArgs.component === 'collections'" class="component">
    </destiny-collections>
    <destiny-badges *ngIf="urlArgs.component === 'badges' && !urlArgs.selectedBadge"
                    [badgesPresentationTree]="presentationTrees.badges!"
                    [itemNomenclatures]="itemNomenclatures"
                    [presentationNodeProgress]="profile.presentationNodeProgress"
                    [urlArgs]="urlArgs">
    </destiny-badges>
    <destiny-badge *ngIf="urlArgs.component === 'badges' && urlArgs.selectedBadge" class="component"
                   [badge]="urlArgs.selectedBadge!"
                   [itemNomenclatures]="itemNomenclatures"
                   [characterCollectibles]="profile.characterCollectibles"
                   [profileCollectibles]="profile.profileCollectibles"
                   [presentationNodeProgress]="profile.presentationNodeProgress"
                   [urlArgs]="urlArgs">
    </destiny-badge>
    <destiny-titles *ngIf="urlArgs.component === 'titles' && !urlArgs.selectedTitle"
                    [titlesPresentationTree]="presentationTrees.titles!"
                    [archivedTitlesPresentationTree]="presentationTrees.archivedTitles!"
                    [presentationNodeProgress]="profile.presentationNodeProgress"
                    [urlArgs]="urlArgs">
    </destiny-titles>
    <destiny-title *ngIf="urlArgs.component === 'titles' && urlArgs.selectedTitle" class="component"
                   [title]="urlArgs.selectedTitle!"
                   [presentationNodeProgress]="profile.presentationNodeProgress"
                   [urlArgs]="urlArgs">
    </destiny-title>
    <destiny-characters *ngIf="urlArgs.component === 'characters'" class="component"
                        [profileInventory]="profile.profileInventory"
                        [characterEquipment]="profile.characterEquipment"
                        [characterInventories]="profile.characterInventories"
                        [itemInstances]="profile.itemInstances"
                        [itemNomenclatures]="itemNomenclatures"
                        [kineticWeaponModelsPresentationTree]="presentationTrees.kineticWeaponModels!"
                        [energyWeaponModelsPresentationTree]="presentationTrees.energyWeaponModels!"
                        [powerWeaponModelsPresentationTree]="presentationTrees.powerWeaponModels!"
                        [presentationNodeProgress]="profile.presentationNodeProgress">
    </destiny-characters>
    <destiny-models *ngIf="urlArgs.component === 'models'" class="component"
                    [kineticWeaponModelsPresentationTree]="presentationTrees.kineticWeaponModels!"
                    [energyWeaponModelsPresentationTree]="presentationTrees.energyWeaponModels!"
                    [powerWeaponModelsPresentationTree]="presentationTrees.powerWeaponModels!"
                    [presentationNodeProgress]="profile.presentationNodeProgress">
    </destiny-models>
    <destiny-catalysts *ngIf="urlArgs.component === 'catalysts'" class="component"
                       [catalystsPresentationTree]="presentationTrees.catalysts!"
                       [presentationNodeProgress]="profile.presentationNodeProgress">
    </destiny-catalysts>
    <destiny-main-inventory
      [profileInventory]="profile.profileInventory"
      [profileCurrencies]="profile.profileCurrencies"
      [itemNomenclatures]="itemNomenclatures">
    </destiny-main-inventory>
  </div>
</div>
<loading-screen *ngIf="!isDatabaseUpToDate" [message]="'Downloading last Destiny database'" class="primary-component"></loading-screen>
<loading-screen *ngIf="isDatabaseUpToDate && !isThisComponentReady" [message]="'Recovering your Destiny data'" class="primary-component"></loading-screen>
