.arrow-down{
  top: -2px;
  left: 60%;
  border-color: #c2c2c2;
}

.arrow-up {
  top: 8px;
  left: 60%;
  border-color: #c2c2c2;
}

.items {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.warning {
  margin-top: -3px;
}

.item {
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

destiny-item-overlay {
  position: absolute;
  z-index: 100;
}
