<div class="profile">
  <img class="profile-icon" ngSrc="{{ DestinyComponent.ASSET_URL + bungieProfile!.iconPath }}" alt="Bungie Profile Icon" height="120" width="120">
  <div class="profile-name-and-update">
    <div class="profile-name">{{ bungieProfile!.displayName + " #" + bungieProfile!.bungieGlobalDisplayNameCode }}</div>
    <request-button (request)="destinyComponent.refreshData()" [loading]="destinyComponent.currentlyUpdating" [nextAllowedRequest]="nextAllowedUpdate" [title]="destinyComponent.currentlyUpdating ? 'Updating' : 'Update'"></request-button>
    <span *ngIf="nextAllowedUpdate > 0">Next possible update in {{ timeService.formatTimeOptMinSec(nextAllowedUpdate) }}</span>
    <span *ngIf="nextAllowedUpdate === 0">Updated {{ timeService.getStringTimeFromMs(Date.parse(destinyComponent.lastUpdate.toString())) }}</span>
  </div>
  <div class="other-platforms">
    <img *ngFor="let linkedProfile of linkedProfilesToShow" src="assets/logo/{{ linkedProfile.platformIcon }}" title="{{ linkedProfile.displayName }}" alt="Connected Platform Icon">
  </div>
  <div class="characters">
    <div *ngFor="let character of profile.characters" class="character" (click)="selectCharacter(character.characterId!)"
      [ngClass]="{'unselected-character': character.characterId != this.selectedCharacterId}">
      <img class="banner" src="{{ DestinyComponent.ASSET_URL + character.emblemBackgroundPath }}" alt="Character Emblem">
      <div class="information">
        <div class="class-and-title">
          <span class="class">{{ getClassNameByGender(profile.characters, character.characterId) }}</span>
          <span *ngIf="character.titleRecordHash != undefined" class="title">{{ this.characterTitleNomenclatures.get(character.titleRecordHash)?.titlesByGender![character.genderHash] }}</span>
        </div>
        <div class="light">
          <img src="/assets/data/destiny/light.png" alt="Light Level">
          <span>{{ character.light }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
