<div class="destiny-profile">
  <div class="linked-profiles">
    <img class="bungie-profile-icon" src="{{ DestinyComponent.ASSET_URL + bungieProfile!.iconPath }}" alt="Bungie Profile Icon">
    <div class="bungie-profile-and-platforms">
      <h1 class="bungie-profile">{{ bungieProfile!.displayName + "#" + bungieProfile!.bungieGlobalDisplayNameCode }}</h1>
      <div class="other-plaforms">
        <img *ngFor="let linkedProfile of linkedProfilesToShow" src="assets/logo/{{ linkedProfile.platformIcon }}" title="{{ linkedProfile.displayName }}" alt="Connected Platform Icon">
      </div>
    </div>
  </div>
  <div class="characters">
    <div *ngFor="let character of profile.characters" class="character" (click)="selectCharacter(character.characterId!)"
      [ngClass]="{'unselected-character': character.characterId != this.selectedCharacterId}">
      <img class="banner" src="{{ DestinyComponent.ASSET_URL + character.emblemBackgroundPath }}" alt="Character Emblem">
      <div class="information">
        <div class="class-and-title">
          <span class="class">{{ getClassNameByGender(character.classHash, character.genderHash) }}</span>
          <span *ngIf="character.titleRecordHash != undefined" class="title">{{ this.characterTitleNomenclatures.get(character.titleRecordHash)?.titlesByGender![character.genderHash] }}</span>
        </div>
        <div class="light">
          <img src="/assets/data/destiny/light.png" alt="Light Level">
          <span>{{ character.light }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="other-section tab-selectors">
    <button class="tab-not-selected" (click)="destinyComponent.refreshData()">Update</button>
  </div>
</div>
