@import "src/app/component/tft/tft-stats/tft-stats.css";

.latest-matches-placements {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 5px;
}

.placement {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.win-rate-box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0;
}

.win-rate-value {
  color: white;
  font-weight: bold;
  text-align: start;
}

.win-rate-title {
  color: darkgrey;
  text-align: start;
}

.win-rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
