<div class="component masteries">
  <div class="mastery" *ngFor="let mastery of masteries">
    <div class="champion-box">
      <img src="{{ imageService.getChampionImageUrl(mastery.champion) }}" alt="Champion">
    </div>
    <div class="mastery-box">
      <img src="assets/data/lol/lol-masteries/mastery-{{ Math.min(mastery.level, 10) }}.png" alt="Mastery">
      <span>{{ mastery.level }}</span>
    </div>
    <span>{{ formatService.formatByThousands(mastery.points) }} pts</span>
  </div>
</div>
