@import "src/app/component/lol/lol-stats/lol-stats.css";

.mastery {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  gap: 10px;
  color: #c2c2c2;
  text-align: center;
  align-items: center;
}

.mastery-box {
  position: relative;
  display: flex;
  justify-content: center;

  & img {
    position: absolute;
    align-self: center;
    width: 50px;
  }
}

.mastery-level {
  position: absolute;
  background-color: #1D1D1DBB;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #dcdcdc;
  margin-top: 10px;
  height: 12px;
  width: 12px;
  place-items: center;
  justify-content: center;
  display: flex;
}
