<div class="component">
  <div class="subcomponent-list">
    <span class="component-title">Main Masteries</span>
    <div class="small-subcomponent-list">
      <div class="mastery small-subcomponent" *ngFor="let mastery of masteries">
        <div class="champion-box">
          <img src="{{ imageService.getChampionImageUrl(mastery.champion) }}" alt="Champion">
        </div>
        <div>{{ mastery.champion.name }}</div>
        <div class="mastery-box">
          <img src="assets/data/lol/lol-masteries/mastery-{{ Math.min(mastery.level, 10) }}.png" alt="Mastery">
          <div class="mastery-level">{{ mastery.level }}</div>
        </div>
        <span>{{ formatService.formatByThousands(mastery.points) }} <br>pts</span>
      </div>
    </div>
  </div>
</div>
