<div class="subcomponent-list component">
  <span class="component-title">{{ 'LOL.MAIN_MASTERIES' | translate }}</span>
  <div class="filter">
    <input [(ngModel)]="filter" (ngModelChange)="filterMasteries()" class="basic-input" [placeholder]="'LOL.SEARCH_CHAMPION' | translate">
    <img *ngIf="filter.trim()" (click)="resetFilter()" [src]="'assets/logo/red-cross.png'">
  </div>
  <div class="small-subcomponent-list">
    <div class="mastery small-subcomponent" *ngFor="let mastery of filteredMasteries">
      <div class="champion-box">
        <img src="{{ imageService.getLOLChampionImageUrl(mastery.champion, metadata.currentPatch) }}" alt="Champion">
      </div>
      <div>{{ patchService.getLOLChampionNomenclature(metadata.currentPatch, mastery.champion)?.name }}</div>
      <div class="mastery-box">
        <img src="assets/data/lol/lol-masteries/mastery-{{ Math.min(mastery.level, 10) }}.png" alt="Mastery">
        <div class="mastery-level">{{ mastery.level }}</div>
      </div>
      <span>{{ formatService.formatByThousands(mastery.points) }} <br>pts</span>
    </div>
  </div>
</div>
