.bar {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wins-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.defeats-bar {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: relative;
  align-self: center;
  overflow: hidden;
}

.bar-numbers {
  position: absolute;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
}

.text {
  color: #c2c2c2;
  font-size: 14px;
  justify-self: center;
}

.background-color-victory {
  background-color: #004281;
}

.background-color-defeat {
  background-color: #770000;
}
