<div class="tft-ranking">
  <div class="rank-container">
    <div class="rank-title">Solo Ranked</div>
    <hr>
    <div class="dual-column-rank-content">
      <div class="rank-content">
        <div class="rank-image-container">
          <div *ngIf="soloRank != null && soloRank.tier != ''; else elseBlockRankImage">
            <img class="rank-image" src="assets/data/tft/tft-ranks/TFT_Regalia_{{ soloRank.tier }}.png">
          </div>

          <ng-template #elseBlockRankImage>
            <img class="rank-image unranked-image"
                 src="assets/data/tft/tft-ranks/TFT_Regalia_Provisional.png">
          </ng-template>
        </div>
      </div>

      <div class="rank-content rank-information">
        <div *ngIf="soloRank != null && soloRank.tier != ''; else elseBlockRankInformation">
          <div>{{ soloRank.tier }} {{ soloRank.rank }}</div>
          <div>{{ soloRank.leaguePoints }} LP</div>
        </div>

        <ng-template #elseBlockRankInformation>
          <div>Unranked</div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="other-ranks">
    <div class="rank-container">
      <div class="rank-title">Hyper Roll</div>
      <hr>
      <div class="rank-content">
        <div class="rank-image-container">
          <div *ngIf="hyperRollRank != null && hyperRollRank.tier != ''; else elseBlockRankImage">
            <img class="rank-image"
                 src="assets/data/tft/tft-ranks/HyperRoll_Rank_{{ hyperRollRank.tier }}.png">
          </div>
        </div>
      </div>
    </div>

    <div class="rank-container">
      <div class="rank-title">Double Up</div>
      <hr>
      <div class="rank-content">
        <div class="rank-image-container">
          <div *ngIf="doubleUpRank != null && doubleUpRank.tier != ''; else elseBlockRankImage">
            <img class="rank-image" src="assets/data/tft/tft-ranks/TFT_Regalia_{{ doubleUpRank.tier }}.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
