<div class="tab-selectors">
  <div class="tab-buttons">
    <a [routerLink]="['/clash-royal', player.id, CrTabSelectorComponent.cards]">
      <button [ngClass]="component === CrTabSelectorComponent.cards ? 'tab-selected' : 'tab-not-selected'">
        <span>{{ 'CR.CARDS' | translate }}</span>
      </button>
    </a>
    <a [routerLink]="['/clash-royal', player.id, CrTabSelectorComponent.chests]">
      <button [ngClass]="component === CrTabSelectorComponent.chests ? 'tab-selected' : 'tab-not-selected'">
        <span>{{ 'CR.CHESTS' | translate }}</span>
      </button>
    </a><a [routerLink]="['/clash-royal', player.id, CrTabSelectorComponent.badges]">
    <button [ngClass]="component === CrTabSelectorComponent.badges ? 'tab-selected' : 'tab-not-selected'">
      <span>{{ 'CR.BADGES' | translate }}</span>
    </button>
  </a>
  </div>
</div>
