<div class="tab-selectors">
  <div class="tab-buttons">
    <button (click)="selectComponent(CrTabSelectorComponent.battles)"
            [ngClass]="component === CrTabSelectorComponent.battles ? 'tab-selected' : 'tab-not-selected'">
    <span>Battles</span>
    </button>
    <button (click)="selectComponent(CrTabSelectorComponent.cards)"
            [ngClass]="component === CrTabSelectorComponent.cards ? 'tab-selected' : 'tab-not-selected'">
      <span>Cards</span>
    </button>
    <button (click)="selectComponent(CrTabSelectorComponent.chests)"
            [ngClass]="component === CrTabSelectorComponent.chests ? 'tab-selected' : 'tab-not-selected'">
      <span>Chests</span>
    </button>
    <button (click)="selectComponent(CrTabSelectorComponent.badges)"
            [ngClass]="component === CrTabSelectorComponent.badges ? 'tab-selected' : 'tab-not-selected'">
      <span>Badges</span>
    </button>
  </div>
</div>
