<div class="lol-match">
  <div class="less-data background-color-{{ result.toLowerCase() }}">
    <div class="game-summary">
      <div class="main-summary">{{ result }}</div>
      <div class="main-summary" *ngIf="isArena">{{ placement }}</div>
      <div class="complementary-summary">{{ timeService.getStringTimeFromMs(match.datetime) }}</div>
      <hr>
      <div class="complementary-summary">{{ timeService.formatTimeMinSec(match.duration) }}</div>
      <div class="complementary-summary">{{ queueName }}</div>
    </div>

    <div class="game-participant">
      <div class="game-participant-main">
        <div class="game-participant-main-champion">
          <div class="champion-box">
            <img src="{{ imageService.getLOLChampionImageUrl(summonerParticipant.champion, match.version) }}" alt="Champion">
          </div>
          <h4 class="champion-level">{{ summonerParticipant!.champLevel }}</h4>
        </div>
        <div class="summoners-runes-augments" *ngIf="summonerParticipant.summonerSpell1">
          <img src="{{ imageService.getLOLSpellImageUrl(summonerParticipant.summonerSpell1, match.version) }}" alt="Summoner Spell">
          <img src="{{ imageService.getLOLSpellImageUrl(summonerParticipant.summonerSpell2, match.version) }}" alt="Summoner Spell">
        </div>
        <div class="summoners-runes-augments" *ngIf="summonerParticipant.runes.runeCategories[0].style != '0'">
          <img src="{{ imageService.getLOLRunePerkImageUrl(summonerParticipant.runes.runeCategories[0]!.perks[0], match.version) }}" alt="Rune">
          <img src="{{ imageService.getLOLRuneCategoryImageUrl(summonerParticipant.runes.runeCategories[1]!.style, match.version) }}" alt="Rune">
        </div>
        <div class="summoners-runes-augments" *ngIf="summonerParticipant.augment1">
          <img src="{{ imageService.getLOLAugmentImageUrl(summonerParticipant.augment1, match.version) }}" alt="Augment">
          <img src="{{ imageService.getLOLAugmentImageUrl(summonerParticipant.augment2, match.version) }}" alt="Augment">
        </div>
        <div class="summoners-runes-augments" *ngIf="summonerParticipant.augment1">
          <img src="{{ imageService.getLOLAugmentImageUrl(summonerParticipant.augment3, match.version) }}" alt="Augment">
          <img src="{{ imageService.getLOLAugmentImageUrl(summonerParticipant.augment4, match.version) }}" alt="Augment">
        </div>
        <div>
          <p class="scores">{{ summonerParticipant.kills }} / {{ summonerParticipant.deaths }} / {{ summonerParticipant.assists }}</p>
          <p class="minors-stats">{{ kda }} KDA</p>
          <p class="minors-stats">{{ summonerParticipant.minions + summonerParticipant.neutralMinions }} CS</p>
        </div>
      </div>
      <div class="items"><!--TODO list-->
        <img src="{{ imageService.getLOLItemImageUrl(summonerParticipant.item0, match.version) }}" alt="Item">
        <img src="{{ imageService.getLOLItemImageUrl(summonerParticipant.item1, match.version) }}" alt="Item">
        <img src="{{ imageService.getLOLItemImageUrl(summonerParticipant.item2, match.version) }}" alt="Item">
        <img src="{{ imageService.getLOLItemImageUrl(summonerParticipant.item3, match.version) }}" alt="Item">
        <img src="{{ imageService.getLOLItemImageUrl(summonerParticipant.item4, match.version) }}" alt="Item">
        <img src="{{ imageService.getLOLItemImageUrl(summonerParticipant.item5, match.version) }}" alt="Item">
        <img src="{{ imageService.getLOLItemImageUrl(summonerParticipant.ward, match.version) }}" alt="Item">
      </div>
    </div>

    <div class="teams" *ngIf="!isArena">
      <div class="team">
        <div *ngFor="let participant of match.teams[0].participants" class="summoner justify-right">
          <div *ngIf="participant.summoner.puuid === summoner.puuid" class="participant-summoner-name other-summoner-name justify-right" title="{{ participant.summoner.name }}">
            <span>{{ participant.summoner.name }}</span>
          </div>
          <a *ngIf="participant.summoner.puuid !== summoner.puuid" [routerLink]="['/lol', summoner.region, participant.summoner.tag, participant.summoner.name, 'all-queues', 'all-roles']" class="other-summoner-name" title="{{ participant.summoner.name }}">
            <span>{{ participant.summoner.name }}</span>
          </a>
          <ng-container *ngTemplateOutlet="championBox; context: { url: imageService.getLOLChampionImageUrl(participant.champion, match.version) }"></ng-container>
        </div>
      </div>
      <div class="team roles">
        <img src="assets/data/lol/lol-roles/top.png" alt="Top">
        <img src="assets/data/lol/lol-roles/jungle.png" alt="Jungle">
        <img src="assets/data/lol/lol-roles/middle.png" alt="Middle">
        <img src="assets/data/lol/lol-roles/bottom.png" alt="Bottom">
        <img src="assets/data/lol/lol-roles/support.png" alt="Support">
      </div>
      <div class="team">
        <div *ngFor="let participant of match.teams[1].participants" class="summoner">
          <ng-container *ngTemplateOutlet="championBox; context: { url: imageService.getLOLChampionImageUrl(participant.champion, match.version) }"></ng-container>
          <div *ngIf="participant.summoner.puuid === summoner.puuid" class="participant-summoner-name" title="{{ participant.summoner.name }}">
            <span>{{ participant.summoner.name }}</span>
          </div>
          <a *ngIf="participant.summoner.puuid !== summoner.puuid" [routerLink]="['/lol', summoner.region, participant.summoner.tag, participant.summoner.name, 'all-queues', 'all-roles']" class="other-summoner-name" title="{{ participant.summoner.name }}">
            <span>{{ participant.summoner.name }}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="teams" *ngIf="isArena">
      <div class="team">
        <div *ngFor="let team of match.teams" class="summoner justify-right">
          <div *ngIf="team.participants[0].summoner.puuid === summoner.puuid" class="participant-summoner-name" title="{{ team.participants[0].summoner.name }}">{{ team.participants[0].summoner.name }}</div>
          <a *ngIf="team.participants[0].summoner.puuid !== summoner.puuid" [routerLink]="['/lol', summoner.region, team.participants[0].summoner.tag, team.participants[0].summoner.name, 'all-queues', 'all-roles']" class="other-summoner-name" title="{{ team.participants[0].summoner.name }}">
            <span>{{ team.participants[0].summoner.name }}</span>
          </a>
          <ng-container *ngTemplateOutlet="championBox; context: { url: imageService.getLOLChampionImageUrl(team.participants[0].champion, match.version) }"></ng-container>
        </div>
      </div>
      <div class="team">
        <div *ngFor="let team of match.teams" class="summoner">
          <ng-container *ngTemplateOutlet="championBox; context: { url: imageService.getLOLChampionImageUrl(team.participants[1].champion, match.version) }"></ng-container>
          <div *ngIf="team.participants[1].summoner.puuid === summoner.puuid" class="participant-summoner-name"  title="{{ team.participants[1].summoner.name }}">{{ team.participants[1].summoner.name }}</div>
          <a *ngIf="team.participants[1].summoner.puuid !== summoner.puuid" [routerLink]="['/lol', summoner.region, team.participants[1].summoner.tag, team.participants[1].summoner.name, 'all-queues', 'all-roles']" class="other-summoner-name" title="{{ team.participants[1].summoner.name }}">
            <span>{{ team.participants[1].summoner.name }}</span>
          </a>
        </div>
      </div>
    </div>

    <div (click)="toggleShowAllMatchData()" class="all-game-stats-button">
      <div [ngClass]="{'arrow-down': !allDataIsDisplayed, 'arrow-up': allDataIsDisplayed}" class="arrow-up"></div>
    </div>
  </div>

  <div class="subcomponent-list" *ngIf="allDataIsDisplayed">
    <div class="team-data" *ngFor="let team of match.teams">
      <ng-container *ngTemplateOutlet="teamDataHeaderTemplate"></ng-container>
      <div class="more-data-participants">
        <lol-match-participant
          *ngFor="let participant of team.participants"
          [participant]="participant"
          [topDamage]="topDamage"
          [summoner]="summoner"
          [hasWin]="team.hasWin"
          [matchVersion]="match.version"
          [remake]="match.remake">
        </lol-match-participant>
      </div>
    </div>
  </div>
</div>

<ng-template #championBox let-url="url">
  <div class="other-participants-champion-box">
    <img class="game-participant-main-champion" src="{{ url }}" alt="Champion">
  </div>
</ng-template>

<ng-template #teamDataHeaderTemplate>
  <div class="team-data-header">
    <p>Champion</p>
    <p>Summoner</p>
    <p>KDA</p>
    <p>Damage</p>
    <p>Golds</p>
    <p>CS</p>
    <p>Vision</p>
    <p>Items</p>
  </div>
</ng-template>
