@import "src/app/component/lol/lol-stats/lol-stats.css";

.latest-matches-placements {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 5px;
}

.placement {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.win-rate-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.win-rate {
  color: white;
  font-weight: bold;
  display: inline;
}

.average-placement-title {
  color: darkgrey;
  display: inline;
}
