<div class="title">
  <div class="main-information subcomponent-list">
    <img ngSrc="{{ DestinyComponent.ASSET_URL + title.icon }}" alt="{{ title.name }} title icon" [style.filter]="!isTitleComplete() ? 'grayscale(1)' : 'none'" width="200" height="200">
    <span class="title-name subcomponent-title">{{ title.name }}</span>
    <span class="title-description subcomponent-title">{{ title.description }}</span>
    <progress-bar
      [completionValue]="presentationNodeProgress.get(title.hash)!.completionValue!"
      [progressValue]="presentationNodeProgress.get(title.hash)!.progressValue!">
    </progress-bar>
  </div>
  <div class="records">
    <destiny-record *ngFor="let record of title.childrenRecord" class="record subcomponent-list"
                    [ngClass]="isRecordComplete(presentationNodeProgress.get(record.hash)!) ? 'completeRecord' : 'none'"
                    [record]="record"
                    [recordProgress]="presentationNodeProgress.get(record.hash)!">
    </destiny-record>
  </div>
</div>
