<div class="title">
  <div class="main-information subcomponent-list">
    <div class="tab-selectors">
      <a [routerLink]="['/destiny', platform, membership, character, DestinyComponentSelectorComponent.titles]">
        <button class="tab-not-selected">
          <span>Go back to titles</span>
        </button>
      </a>
    </div>
    <destiny-title-preview
      [title]="title"
      [presentationNodeProgress]="presentationNodeProgress"
      [showDetails]="true">
    </destiny-title-preview>
  </div>
  <div class="records">
    <destiny-record *ngFor="let record of title.childrenRecord" class="record subcomponent-list"
                    [ngClass]="isRecordComplete(presentationNodeProgress.get(record.hash)!) ? 'completeRecord' : 'none'"
                    [record]="record"
                    [recordProgress]="presentationNodeProgress.get(record.hash)!">
    </destiny-record>
  </div>
</div>
