<div class="cards">
  <div *ngFor="let card of getOrderedCardsByLevel(cards)" class="card">
    <img class="card-image" src="assets/data/clash-royal/cr-cards/{{ getCardName(card) }}.png">
    <div class="level-container">
      <img alt="exp" ngSrc="assets/data/clash-royal/cr-exp.png" height="30" width="30" draggable="false"
        [ngStyle]="{'filter': (card.level! >= 14) ? 'hue-rotate(206deg) saturate(200%) sepia(50%)' : 'none'}"
      />
      <div class="level">{{ card.level }}</div>
    </div>
    <div class="progress-bar" [ngStyle]="{'opacity': (card.level !== 15) ? 'opacity' : 0}">
      <div class="text-progress-bar">
        {{ card.count }}&nbsp;/&nbsp;{{ card.upgradeCost }}
      </div>
      <div *ngIf="card.count! / card.upgradeCost! < 1" class="filled-progress-bar" [style.width.%]="(card.count! / card.upgradeCost! < 0.1 && card.count! / card.upgradeCost! != 0) ? 10 : card.count! / card.upgradeCost! * 100"></div>
      <div *ngIf="card.count! / card.upgradeCost! > 1" class="filled-progress-bar" style="background-color: lawngreen" [style.width.%]="100"></div>
    </div>
  </div>
</div>
