<div class="component subcomponent-list">
  <div class="rank-container" *ngFor="let metadataRank of metadata.allRanks">
    <div class="rank-title">{{ metadataRank.name }}</div>
    <hr>
    <div class="dual-column-rank-content" *ngVar="rankService.getRank(allRanks, currentSeasonOrSet, metadataRank.id)?.rankInformations?.at(-1) as rank">
      <riot-rank-image [rank]="rank" [radius]="90"></riot-rank-image>
      <div class="rank-content rank-information">
        <ng-container *ngIf="rank">
          <div>{{ rank.leaguePoints }} LP</div>
          <div>{{ rank.wins }}W / {{ rank.losses }}L</div>
        </ng-container>
        <div *ngIf="!rank">{{ 'GENERAL.UNRANKED' | translate }}</div>
      </div>
    </div>
  </div>
</div>
