.profile {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.profile-name-and-update {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & span {
    color: darkgrey;
  }
}

.profile-name {
  color: white;
  margin-bottom: 4px;
  font-size: 35px;
  font-weight: bold;
}

.no-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.profile-icon-level {
  grid-column: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 124px;
  height: 124px;
}

.profile-icon {
  border-radius: 10px;
  border: #4b4b4b 2px solid;
}

.profile-level {
  position: absolute;
  background-color: #1D1D1DBB;
  border-radius: 50%;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 100px;
  height: 25px;
  width: 37px;
  display: flex;
  place-items: center;
  justify-content: center;
}
