.game-data {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 10px;
}

.nothing-to-show-message {
  color: darkgrey;
  font-size: 30px;
  align-content: center;
}

.no-matches-played-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  & img {
    width: 50px;
  }
}

.more-matches {
  background-color: #424242;
  border-radius: 10px;
  color: #dcdcdc;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.more-matches:hover {
  background-color: #646464;
}

.arrow-down {
  position: absolute;
  top: 70%;
  width: 15px;
  height: 15px;
  border: solid #1D1D1D;
  border-width: 0 2px 2px 0;
  rotate: 45deg;
  display: inline-block;
}

.arrow-up {
  position: absolute;
  top: 75%;
  width: 15px;
  height: 15px;
  border: solid #1D1D1D;
  border-width: 2px 2px 0 0;
  rotate: -45deg;
  display: inline-block;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

hr {
  background-color: rgb(29, 29, 29);
  height: 2px;
  width: 100%;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: #1D1D1D;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #4c4c4c;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.selectable:hover {
  scale: 110%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

progress-bar {
  width: 100%;
}
