.primary-component {
  display: flex;
  height: 93vh;
  width: 100vw;
}

.component-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 10px;
}

.component {
  background-color: #1D1D1D;
  border-radius: 10px;
  padding: 20px;
}

.component-title {
  font-size: 20px;
  color: #c2c2c2;
  font-weight: bold;
  align-self: center;
}

.big-component-title {
  font-size: 30px;
  color: #c2c2c2;
  font-weight: bold;
  align-self: center;
}

.subcomponent-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.subcomponent {
  border-radius: 10px;
  background-color: #2c2c2c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subcomponent-title {
  font-size: 18px;
  color: #c2c2c2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-subcomponent-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-subcomponent {
  border-radius: 10px;
  background-color: #2c2c2c;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.game-component {
  display: grid;
  grid-gap: 10px;
  margin: 10px;
}

.game-data {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 10px;
}

.filled-progress-bar {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #25aecb;
  position: absolute;
}

.progress-bar {
  border-radius: 10px;
  width: 100px;
  height: 15px;
  background-color: darkgrey;
  color: #1D1D1D;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
}

.text-progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nothing-to-show-message {
  color: darkgrey;
  font-size: 30px;
  align-content: center;
}

.no-matches-played-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  & img {
    width: 50px;
  }
}

.more-matches {
  background-color: #424242;
  border-radius: 10px;
  color: #dcdcdc;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.more-matches:hover {
  background-color: #646464;
}

.arrow-down {
  position: absolute;
  top: 70%;
  width: 15px;
  height: 15px;
  border: solid #1D1D1D;
  border-width: 0 2px 2px 0;
  rotate: 45deg;
  display: inline-block;
}

.arrow-up {
  position: absolute;
  top: 75%;
  width: 15px;
  height: 15px;
  border: solid #1D1D1D;
  border-width: 2px 2px 0 0;
  rotate: -45deg;
  display: inline-block;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

hr {
  background-color: rgb(29, 29, 29);
  height: 2px;
  width: 100%;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: #1D1D1D;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #4c4c4c;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.selectable:hover {
  scale: 110%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
