<div class="objective-informations">
  <img *ngIf="record.icon != null && record.icon != undefined" src="{{ DestinyComponent.ASSET_URL + record.icon }}" alt="Record '{{ record.name }}'Icon">
  <img *ngIf="record.icon == null || record.icon == undefined" src="https://www.bungie.net/img/destiny_content/collections/undiscovered.png" alt="Record '{{ record.name }}'Icon">
  <div class="record-title-and-description">
    <div class="record-title">{{ record.name }}</div>
    <div class="record-description">{{ record.description }}</div>
  </div>
</div>
<div class="simple-objectives" *ngIf="record.objectives ? record.objectives.length > 0 : false">
  <div *ngFor="let objective of record.objectives">
    <div class="simple-objective" *ngIf="getSimpleObjectiveProgress(objective).completionValue === 1">
      <div *ngIf="getSimpleObjectiveProgress(objective).completionValue === 1" class="checkbox">
        <div class="checkbox" [style.background-color]="isRecordComplete(recordProgress) ? '#93884c' : getSimpleObjectiveProgress(objective).complete ? '#757575' : 'black'"></div>
      </div>
      <div class="objective-title">{{ getCompleteObjectiveDescription(objective) }}</div>
    </div>
    <progress-bar *ngIf="getSimpleObjectiveProgress(objective).completionValue > 1"
                  [allProgressAreCompleted]="isRecordComplete(recordProgress)"
                  [description]="getCompleteObjectiveDescription(objective)"
                  [completionValue]="getSimpleObjectiveProgress(objective).completionValue"
                  [progressValue]="getSimpleObjectiveProgress(objective).progress">
    </progress-bar>
  </div>
</div>
<div class="objectives" *ngIf="record.intervalObjectives ? record.intervalObjectives.length > 0 : false">
  <div class="objective" *ngFor="let objective of record.intervalObjectives"><!-- TODO progress bar component -->
    <div class="objective-progression-bar">
      <div class="current-objective-progression-bar" [style.width.%]="Math.min(getIntervalObjectiveWidth(record, objective), 100)" [style.background-color]="!isRecordComplete(recordProgress) ? '#757575' : 'none'"></div>
    </div>
  </div>
  <span class="current-objective-progression" style="justify-content: start">{{ getCompleteObjectiveDescription(record.intervalObjectives![record.intervalObjectives!.length - 1].objective) }}</span>
  <span class="current-objective-progression" style="justify-content: end"> {{ getIntervalObjectivesProgress(record.intervalObjectives![record.intervalObjectives!.length - 1]).progress }} / {{ getIntervalObjectivesProgress(record.intervalObjectives![record.intervalObjectives!.length - 1]).completionValue }}</span>
</div>
<div class="reward" style="color: white">
  <!-- TODO -->
</div>
