<div class="progress">
  <div class="progress-bar">
    <div class="current-progress"
         [style.width.%]="Math.min(100, progressValue / completionValue * 100)"
         [style.background-color]="color">
    </div>
    <div class="text with-description" *ngIf="description">
      <span class="description" [title]="description">{{ description }}</span>
      <span>{{ progressValue }} / {{ completionValue }}</span>
    </div>
    <div class="text without-description" *ngIf="!description && showNumbers">
      <span>{{ progressValue }} / {{ completionValue }}</span>
    </div>
  </div>
</div>
