<div *ngIf="isThisComponentReady" class="game-component">
  <riot-summoner
    [summoner]="summoner"
    [metadata]="metadata!">
  </riot-summoner>
  <lol-search-criteria
    *ngIf="summoner && summoner.updateDate"
    [summoner]="summoner"
    [selectedQueue]="selectedQueue"
    [selectedRole]="selectedRole">
  </lol-search-criteria>
  <div *ngIf="summoner && summoner.updateDate" class="game-data">
    <div class="column">
      <riot-ranking
        [summoner]="summoner!"
        [metadata]="metadata!">
      </riot-ranking>
      <lol-main-masteries
        [summoner]="summoner!"
        [metadata]="metadata!">
      </lol-main-masteries>
    </div>
    <riot-matches
      [selectedQueue]="selectedQueue"
      [selectedRole]="selectedRole"
      [summoner]="summoner!"
      (matchesUpdateEvent)="matches = $event">
    </riot-matches>
    <div class="column">
      <lol-latest-matches-placement
        [summoner]="summoner!"
        [matches]="lolMatches">
      </lol-latest-matches-placement>
      <lol-main-champions
        [summoner]="summoner!"
        [matches]="lolMatches"
        [metadata]="metadata!">
      </lol-main-champions>
      <lol-main-roles
        [summoner]="summoner!"
        [matches]="lolMatches">
      </lol-main-roles>
      <lol-main-friends
        [summoner]="summoner!"
        [matches]="lolMatches"
        [metadata]="metadata!">
      </lol-main-friends>
    </div>
  </div>
</div>
