.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.background-color-victory {
  background-color: #004281;
}

.background-color-defeat {
  background-color: #770000;
}

.background-color-remake {
  background-color: #4f4f4f;
}
