<navbar></navbar>
<div *ngIf="isThisComponentReady" class="game-component">
  <riot-summoner class="component"
    [localSummoner]="localSummoner"
    [remoteSummoner]="remoteSummoner">
  </riot-summoner>
  <lol-search-criteria class="component"
    *ngIf="localSummoner"
    [summoner]="localSummoner"
    [selectedQueue]="selectedQueue"
    [selectedRole]="selectedRole">
  </lol-search-criteria>
  <div *ngIf="localSummoner" class="game-data">
    <div class="column">
      <lol-ranking
        [summoner]="localSummoner">
      </lol-ranking>
      <lol-main-masteries
        [summoner]="localSummoner">
      </lol-main-masteries>
    </div>
    <lol-matches class="component"
      [selectedQueue]="selectedQueue"
      [selectedRole]="selectedRole"
      [summoner]="localSummoner"
      (matchesUpdateEvent)="matches = $event">
    </lol-matches>
    <div class="column">
      <lol-latest-matches-placement
        [summoner]="localSummoner"
        [matches]="matches">
      </lol-latest-matches-placement>
      <lol-main-champions
        [summoner]="localSummoner"
        [matches]="matches">
      </lol-main-champions>
      <lol-main-friends
        [summoner]="localSummoner"
        [matches]="matches">
      </lol-main-friends>
    </div>
  </div>
</div>
