<div *ngIf="isThisComponentReady && summoner" class="profile">
  <div class="profile-icon-level">
    <img alt="Profile icon" class="profile-icon" height="120" width="120"
         ngSrc="{{ imageService.getProfileIconUrl(summoner.icon) }}"/>
    <h3 class="profile-level">{{ summoner.level }}</h3>
  </div>
  <div class="profile-name-and-update">
    <div class="profile-name">{{ summoner.name }} #{{ summoner.tag }}</div>
    <ng-container *ngIf="localSummoner">
      <request-button (request)="updateData()" [loading]="currentlyUpdating" [nextAllowedRequest]="nextAllowedUpdate" [title]="currentlyUpdating ? 'Updating' : 'Update'"></request-button>
      <span *ngIf="nextAllowedUpdate > 0">Next possible update in {{ timeService.formatTimeOptMinSec(nextAllowedUpdate) }}</span>
      <span *ngIf="nextAllowedUpdate === 0">Updated {{ timeService.getStringTimeFromMs(Date.parse(summoner!.updateDate!.toString())) }}</span>
    </ng-container>
    <request-button *ngIf="remoteSummoner" (request)="updateData()" [loading]="currentlyUpdating" [nextAllowedRequest]="nextAllowedUpdate" [title]="currentlyUpdating ? 'Importing' : 'Import'"></request-button>
  </div>
</div>

<div *ngIf="isThisComponentReady && !summoner" class="no-profile">
  <div *ngIf="!summoner">
    <h1>Sorry, this summoner does not exist ...</h1>
    <img src="assets/logo/oops.png" alt="Oups">
  </div>
</div>
